$base-color: #888

//Colours
$valid: #474
$invalid:  #744
$bgGrey: #445

$background: darken($base-color, 100%)
$text: lighten($base-color, 100%)
$oddTableRowBackground: darken($base-color, 30%)

@import "mainVerticalMenu"

@media not print
	html
		background-color: $background
		color: $text

	//Forms
	input, select
		background: $bgGrey
		border-color: $grey
		color: $liteGrey

	fieldset
		border-color: $bgGrey

//If Background graphics checkbox is ticked in the print window then the QR barcodes won't be scannable.
.printCards
	background: $text
	color: $background