@import "mainVerticalMenu"

html
	background-color: $white
	background-image: url(/v/bottom_landscape_14_lite)
	color: $black

nav
	border-right-color: $grey

tr
	border-bottom-color: $grey

th, thead td
	border-bottom-color: $grey

//Forms
legend
	color: $grey

//Vertical Menus
nav
	.visited, .open
		color: $black
		border-left-color: $black

nav ul ul ul, .events div div
	background: $white

h1,h2,h3
	color: $black

.events
	time
		background: $grey
		border-color: $grey
	p
		border-bottom-color: $grey

table:not(.scorecards):not(.printCards) tbody tr:nth-child(2n)
	background: #ddd

@media print
	.printCards tr:nth-child(3n):not(:last-child)
		border-bottom-color: $grey