$briteBlue: #08f
$valid: #dfd
$invalid:  #fdd
$bgGrey: #777
$lightGrey: #ddd

@import "mainVerticalMenu"

html
	background-color: $white
	color: $black

tr
	border-bottom-color: $bgGrey

th, thead td
	border-bottom-color: $bgGrey

//Forms
legend
	color: $bgGrey

//Vertical Menus
header
	.visited, .open
		color: $black
		border-left-color: $black

//header ul ul ul,
.events div div
	background: $white

h1,h2,h3
	color: $black

.events
	time
		background: $bgGrey
		border-color: $bgGrey
	p
		border-bottom-color: $bgGrey

table:not(.scorecards):not(.printCards) tbody tr:nth-child(2n)
	background: $lightGrey