//Colours
$base-color: #888
$valid: #dfd
$invalid:  #fdd
$bgGrey: #777
$lightGrey: #ddd
$blue: #08f

$background: lighten($base-color, 100%)
$text: darken($base-color, 100%)
$oddTableRowBackground: lighten($base-color, 30%)

@import "mainVerticalMenu"