//Colours
$black: #000
$charcoal: #222
$dark: #445
$grey: #777
$liteGrey: #cdd
$blue: #08b
$briteBlue: #08f
$red: #c24
$rose :  #fdd
$lightGreen: #dfd
$white: #fff
//menu
$margin: 1.5em
$menuPadding: $margin/6
$bigPadding: $margin/3
$fatWidth: 2px
$fatBorder: $fatWidth solid
$thinBorder: 1px solid
html
	background-position: bottom left
	background-repeat: no-repeat
	background-size: 14em
	background-attachment: fixed

html,body
	height: 100%
body
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important
	margin: 0

section, header
	float: left
	padding: $margin/2 0 0 $margin

header
	height: calc(100% - 3em)

section
	width: calc(100% - 16em)

nav
	border-right: 1px dashed
	padding-bottom: $menuPadding

//Tables
table
	border-collapse: collapse

table:not(.printCards) tr
	border-bottom: $thinBorder
	padding: $bigPadding

th, thead td
	text-align: left
	font-weight: 700
	border-bottom: $fatBorder

table:not(.scorecards) th:not(:empty)
	cursor: pointer

.asc, .desc, legend u
	color: $briteBlue
	border-color: $briteBlue

.asc
	background: url(/v/asc) no-repeat right

.desc
	background: url(/v/desc) no-repeat right

.tick
	background: url(/v/tick) no-repeat center

section > form, table
	margin-bottom: $margin
	width: 100%

//Forms
legend
	font-size: $margin
	font-weight: 700

fieldset
	label, button
		float: left

	label:not(:last-child)
		margin: 0 $margin $margin 0

	input, select
		display: block

	button
		margin-top: 1em

	button:not(:last-child)
		margin-right: $margin

input, select
	border: $thinBorder
	border-radius: $menuPadding
	padding: $menuPadding

[type=checkbox]
	$size: 2.2em
	width: $size
	height: $size
	margin: 0

::-webkit-search-cancel-button
	cursor: pointer
	opacity: 1 !important
	pointer-events: auto !important

select[required] option:empty
	display: none

label select
	width: 100%

samp:not([hidden])
	color: $red
	display: block

button
	background: transparent
	color: $briteBlue
	border: $fatBorder $briteBlue
	padding: $bigPadding
	border-radius: $bigPadding
	cursor: pointer

\:focus
	box-shadow: .2em .2em .3em $blue

input.dirty:not(:focus)
	&:invalid
		background-color: $rose

	&:valid
		background-color: $lightGreen

form#edit:target
	display: block

//Vertical Menus
header
	ul
		list-style: none
		padding: 0

	//& > li  //disable to push the menu down rather than popup overlay
		position: relative

	li a, .visited
		display: block
		padding: $menuPadding

	.visited
		border-left: $fatBorder

	li a, li ul, .visited
		padding-left: $margin

	ul a
		border-left: $fatBorder transparent

	div
		padding: $menuPadding $menuPadding $menuPadding calc(#{$margin} + #{$fatWidth})

	.open
		padding-left: $margin

	ul a:hover, button:hover, a:hover
		border-color: $blue
		color: $blue

	//ul ul ul
		display: none
	//position: absolute  //disable to push the menu down rather than popup overlay


	//ul ul li:hover > ul
		display: block

//Text
h1,h2,h3,h4
	color: $grey
	margin: 0

h1,h2,h3
	font-weight: 100

#map
	height: 350px

.small
	font-size: .7em

a, header li
	text-decoration: none
	color: $briteBlue

.clear
	clear: both

.right
	float: right

.bold
	font-weight: bold
.center, .centerPadding
	text-align: center

//.loading
//	background: url(/g/loading) center right no-repeat

.barcode
	width: 80px
	image-rendering: pixelated

.centerPadding
	padding: 1em

.center a img
	padding: 0 0.25em

.events
	div
		margin-bottom: $bigPadding
		display: inline-block
		width: 100%
		div
			border: $thinBorder
			text-align: center
			width: 130px
			float: left
			margin-right: $bigPadding
	b
		display: block
		font-size: 26px
		line-height: 23px
	p
		padding: 0 $bigPadding
		text-decoration: none
		border-bottom: $thinBorder
		margin: 0

#editRow tbody td:last-of-type:empty
	background: url(/v/edit) center center no-repeat
	cursor: pointer

.printCards tr:nth-child(3n):not(:last-child)
	border-bottom: $thinBorder

abbr
	color: $briteBlue
	font-weight: 900
	cursor: help
	line-height: 1em

@media print
	header, h1
		display: none

	section
		padding: 0
		width: 100%

	.printCards
		tr
			border: 0

@import "enterShots"