$black: #000
$lightGrey: #ccc
$white: #fff
$solidBorder: solid $black
$thinBorder: 1px
=background-gradient($C1, $C2)
	background: linear-gradient(to bottom, $C1 0%, $C2 25%, $C2 75%, $C1 100%) //W3C

body
	font: 700 small Arial,sans-serif

h1
	text-align: center

body, h1
	margin: 0

td, ul
	padding: 0

table, td
	border: 0 $solidBorder

table
	//border-spacing: 0
	border-collapse: collapse
	border-width: 0 $thinBorder $thinBorder 0
	text-align: center
	width: 100%

a
	text-decoration: none
	color: #08f

td
	border-width: $thinBorder 0 0 $thinBorder

//Horizontal Menu
@media not print
	ul
		list-style: none
		margin: 0
		padding: 0

	body > ul > li
		display: inline-block
		position: relative

	ul
		a
			padding: 1em
			text-align: center

		ul a
			padding: .3em 0
			display: block

	li
		ul
			background: $white
			display: none
			position: absolute
			z-index: 1
			min-width: 100%

	li:hover
		ul
			display: block
			padding: .3em 0

@media print
	ul
		display: none

.floatRight
	float: right

//.rowSeparator
	background: #888
	height: 2px

.classHeadingRow
	background: #fdd

//.capitalizeText
	text-transform: capitalize

//sort by red triangle
.sortBy
	background: url(/v/sortby) no-repeat 3px 2px $lightGrey

.legend
	padding: 0 5px
	text-align: left

	.sortBy
		padding-left: 15px

	label
		border-right: $thinBorder $solidBorder
		display: inline-block
		padding: 0 5px

		&:first-child
			border-left: $thinBorder $solidBorder

//Awarded Postiions
//.p8  //Badge Place
	+background-gradient(#00f, #ff0079)
//.p7  //Badge Place
	+background-gradient(#faf, grey)
//.p6  //Sixth
	+background-gradient(green, lime)
//.p5  //Fith
	+background-gradient(aqua, #07f)
//.p4  //Fourth
	+background-gradient(#f70, red)
.p3  //Third
	+background-gradient(sienna, peru)
.p2  //Second
	+background-gradient(#888, silver)
.p1  //First
	+background-gradient(goldenrod, gold)

//WARNINGS::
.highestPossibleScore
	background: #707
	color: #faf

.shootOff //used in position column
	background: #900
	color: $white

.noScore
	background: #00f
	color: $white

.incompleteScore
	background: $black
	color: $white

//.specialRow
	//box-shadow: 0 -5px 0 red, 0 -10px 0 yellow, 0 -15px 0 green, 0 -20px 0 purple
	//border-top: 20px solid orange
	//padding-top: 5em
	//margin-top: 5em
	//border-spacing: 5em
	border-bottom: 1em solid