//Colours
$base-color = #888
$valid = #474
$invalid = #744
$bgGrey = #445
$blue = #09f

$background = darken($base-color, 100%)
$text = lighten($base-color, 100%)
$oddTableRowBackground = darken($base-color, 30%)
$liteGrey = lighten($base-color, 10%)

body
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif

a
    color: $blue

a:not(:hover)
	text-decoration: none

//@import "main"

@media not print
	html
        background: $background url(/v/shooter) bottom left no-repeat
        background-attachment: fixed
        background-size: 14em
        color: $text

	//Forms
	input, select
		background: $bgGrey
		border-color: $base-color
		color: $liteGrey

	fieldset
		border-color: $bgGrey
	
	.dirty
		background: $invalid

//If Background graphics checkbox is ticked in the print window then the QR barcodes won't be scannable.
.printCards
	background: $text
	color: $background