$orange = #f70
$green = #0a0
$black = #000

.enterShots
	font-family: monospace

	tbody tr:not(#h) th:nth-child(4)
		color: $blue
		cursor: pointer
		font-size: 1.8em

		&:hover
			color: $blue

	tr[data-selected="1"] td
		border-right: 2px solid $grey

	#bu
		padding-bottom: 1em

	button
		font-size: 32px
		font-weight: 900
		height: 75px
		margin: 0 1% 1% 0
		width: 11.5%

		&:last-child
			margin-right: 0

	.sighters
		display: block
		float: left
		margin: 1% 1% 0 0
		width: 9%

	td
		font-weight: bold
		text-align: center

		&[data-selected="1"]
			background: $blue
			color: $black

	tr[data-selected="1"]
		border: 0 solid $orange
		border-width: 5px 0
		td
			cursor: pointer

	.save
		animation: 3s greenFade

	.error
		background-color: $red
		color: $white