//Colours
$black = #000
$blue = #08f
$lightGrey = #ccc
$rose = #fdd
$white = #fff
$solidBorder = solid $black
$thinBorder = 1px
background-gradient($C1, $C2)
	background: linear-gradient(to bottom, $C1 0%, $C2 25%, $C2 75%, $C1 100%)

body
	font: 700 small Arial, sans-serif

body, h1
	margin: 0

h1
	text-align: center

table, td
	border: 0 $solidBorder

table
	border-spacing: 0
	border-width: 0 $thinBorder $thinBorder 0
	text-align: center
	text-transform: capitalize
	width: 100%

td
	border-width: $thinBorder 0 0 $thinBorder
	padding: 0

li, a
	color: $blue
	text-decoration: none

@media print
	ul
		display: none

//Horizontal Menu
@media not print
	.classHeadingRow
		background: $rose

	.separator:not(:first-child) td
		border-image: url("data:image/webp;base64,UklGRigAAABXRUJQVlA4TBsAAAAvAgAFAA8wf/M3f/MfeBDTED79M5sOEf0PjBsA") 7 1
		border-top-width: 7px

	ul
		list-style: none
		margin: 0
		padding: 0

		ul a
			display: block
			padding: .3em 0

	body > ul > li
		display: inline-block
		position: relative

	li
		padding: 0 1em

		ul
			background: $white
			display: none
			margin-left: -1em
			min-width: 100%
			padding: .3em 0
			position: absolute
			z-index: 1

	li:hover
		ul
			display: block

.floatRight
	float: right

//sort by red triangle
.sortBy, .classHeadingRow.separator :last-child
	background: url(/v/sortby) no-repeat 3px 2px $lightGrey

.legend
	padding: 0 5px
	text-align: left

	.sortBy
		padding-left: 15px

	label
		border-right: $thinBorder $solidBorder
		display: inline-block
		padding: 0 5px

		&:first-child
			border-left: $thinBorder $solidBorder

//TODO add prefix to classes that ignore the class shortener
//Awarded Postiions
//.p8	//Badge Place
// +background-gradient(#00f, #ff0079)
//.p7	//Badge Place
// +background-gradient(#faf, grey)
//.p6	//Sixth
// +background-gradient(green, lime)
//.p5	//Fith
// +background-gradient(aqua, #07f)
//.p4	//Fourth
// +background-gradient(#f70, red)

//Third
.p3
	background-gradient(sienna, peru)

//Second
.p2
	background-gradient(#888, silver)

//First
.p1
	background-gradient(goldenrod, gold)

//WARNINGS::
.highestPossibleScore
	background: #707
	color: #faf

//used in position column
.shootOff
	background: #900
	color: $white

.noScore
	background: #00f
	color: $white

.incompleteScore
	background: $black
	color: $white