{{define "master"}}<!DOCTYPE html>
<!--<link rel=stylesheet href=^^dirCSS^^home.css>-->
<!--<link rel=icon type=image/png href=^^favicon^^>-->
<title>EventBucket{{with .Page.Title}} - {{.}}{{end}}</title>
<div class=homeContainer>
	<h1><a href=/>EventBucket</a></h1>
	<span>Making scoring easier for rifle clubs!</span>
	<ul class=homeMenu>
		{{range .Menu}}
			{{if eq $.Page.Title .Name}}
				<li class=v>{{.Name}}
			{{else}}
				<li><a href={{.Link}}>{{.Name}}</a>
			{{end}}
		{{end}}
	</ul>
	{{template "page" .Page.Data}}
	<p class=homeFooter>Copyright &copy; 2011-{{.CurrentYear}} EventBucket<a href=/licence class=r title="View licence"><img src=/p/cc alt=Licence height=15 width=80></a>
</div>
{{end}}