{{define "master"}}<!DOCTYPE html>
<!--<link rel=stylesheet href=^^dirCSS^^home.css>-->
<!--<link rel=icon type=image/png href=^^favicon^^>-->
<title>EventBucket{{with .Title}} - {{.}}{{end}}</title>
<div class=homeContainer>
	<h1><a href=/>EventBucket</a></h1>
	<span>Making scoring easier for rifle clubs!</span>
	<!--<ul class=homeMenu>-->
		<!--{{range $index, $menuItem := .Menu}}-->
		<!--{{if eq $.Title $menuItem.Name}}-->
		<!--<li class=v>{{$menuItem.Name}}-->
			<!--{{else if not $menuItem.Hidden}}-->
		<!--<li><a href={{$menuItem.Link}}>{{$menuItem.Name}}</a>-->
			<!--{{end}}-->
			<!--{{end}}-->
	<!--</ul>-->
	page={{.Page}}
	{{ $temp := .Page}}

	{{template "page" .Inner}}
	<p class=homeFooter>Copyright &copy; 2011-{{.CurrentYear}} EventBucket<a href=/licence class=r title="View licence"><img src=/p/cc alt=Licence height=15 width=80></a>
</div>
<!--<script src=^^dirJS^^sizzle.min.js></script>-->
{{end}}