body {
  font-family: Arial,sans-serif;
  background: #495154;
  color: #ccc;
  margin: 0;
}
h1 {
  margin: 0;
}
option[selected][value][disabled] {
  display: none;
}
.a {
  display: block;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid #000;
  background: linear-gradient(to bottom,gold 0%,#ff8 25%,#ff8 75%,gold 100%);
}
a {
  color: #07f;
  text-decoration: none;
}
ul {
  font-size: medium;
  background: #222;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul a {
  display: inline-block;
  font-weight: 900;
  padding: 1em;
  white-space: nowrap;
  text-align: center;
}
ul li:hover, li.b {
  background: #555;
}
li:hover a, li.b a {
  color: #f70;
}
ul ul li {
  width: 100%;
}
ul ul a {
  padding: 1em 3%;
  width: 94%;
}
li {
  display: inline-block;
  position: relative;
}
li ul {
  background: #555;
  display: none;
  position: absolute;
  z-index: 1;
}
li:hover ul {
  display: block;
}
@media print {
  menu {
    display: none;
  }
}
body>ul {
  border-radius: 8px;
  margin: 5px 0;
  border: 1px #777 solid;
}
.c {
  float: left;
}
.d {
  float: right;
}
h1, legend {
  text-shadow: #000 1px 2px 0,#07f 3px 4px 3px,#000 4px 5px 3px;
}
fieldset {
  border-radius: 8px;
  margin: 5px 0;
  background: #222;
  border-color: #777;
}
legend {
  font-size: 24px;
  font-weight: 900;
}
fieldset fieldset legend {
  font-size: inherit;
}
select {
  vertical-align: top;
}
.e {
  text-align: right;
}
.f {
  background: url(/v/settings.svg) no-repeat center center;
}
.g {
  float: left;
}
.h {
  width: 100%;
  min-width: 400px;
}
.i {
  width: 5em;
}
.j {
  font-weight: 700;
}
.k {
  border-width: 0;
}
form input {
  display: block;
}
form label {
  display: inline-block;
  margin: 0 1em 1em 0;
}
@media print {
  .g {
    display: none !important;
  }
}
.l {
  border-spacing: 0;
  width: 100%;
  font-family: Courier New;
  background: #fff;
  color: #000;
}
.l a:hover, .l th.m:hover {
  color: #f70;
}
.l .n, .l tr[data-selected="1"] .n {
  border-right: 2px solid #09f;
}
.l button {
  font-weight: 900;
  background: #000;
  font-size: 32px;
  height: 75px;
  margin: .5%;
  width: 11.5%;
}
.l .o {
  float: left;
  width: 9%;
  margin: 1% 1% 0 0;
  display: block;
}
.l button:last-child {
  margin-right: 0;
}
.l td[data-selected="1"] {
  background: #088;
}
.l td {
  text-align: center;
}
.l .m {
  cursor: pointer;
  text-decoration: underline;
  font-size: 2em;
  white-space: nowrap;
}
.l tr[data-selected="1"] .m {
  cursor: default;
  text-decoration: none;
}
.l tr:not(#x)  th:last-child {
  text-align: right;
}
.l tr, .l th {
  padding: 0;
}
.l tr:nth-child(odd) {
  background: #ccc;
}
.l td {
  font-weight: bold;
}
.l a, .l th.m {
  color: #000;
}
.l tr[data-selected="1"] {
  background: none !important;
}
.l tr[data-selected="1"] .m {
  color: initial !important;
}
.l button {
  border: 3px solid #000;
  color: #fff !important;
}
.l tr {
  border: 0 solid red;
  border-width: 5px 0;
}
.l td[data-selected="1"] {
  color: #fff;
}
.l tr[data-selected="1"] td, .l tr[data-selected="1"] th {
  border: 0 solid red;
  border-width: 5px 0;
}
