@import util

@font-face
	font-family: han
	src: url(/2/a) format('woff2'), url(/f/a) format('woff')

body
	background: #000
	font-family: Arial, sans-serif

#a
	background: url(/e/a) no-repeat #fff
	//max-width: 670px
	max-width: 90%
	padding: 0 15px
	margin: auto
	box-shadow: 0 0 3px 3px #888

h1 a
	text-decoration: none
	color: #000

h1
	font: 66px/58px han, Verdana, sans-serif
	margin: 0

h2,h3,h4,h5,h6
	margin-bottom: 0

span
	font-size: 16px
	margin: 0 0 104px 168px
	display: block
	white-space: nowrap

legend
	font-weight: 700

.error
	//TODO add red cross icon or something
	border: 1px solid red
	display: inline-block
	background: pink

#gmap_canvas
	height: 350px

.text-left
	text-align: left


#menu
	background: #444
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#888888', GradientType=0)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, #000), color-stop(7%, #888), color-stop(80%, #000), color-stop(99%, #888))
	background: -moz-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: -webkit-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: -o-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: -ms-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: linear-gradient(to bottom, #000 7%, #888 7%, #000 80%, #888 99%)
	margin: 0 -15px 15px
	padding: 5px 15px

#menu li
	display: inline
	padding: 5px 30px

//The current visited page
#menu .v
	background: #fff
	font-weight: 700
	text-decoration: underline

	a
		color: #000

#menu a
	color: #fff
	text-decoration: none
#menu a:hover
	text-decoration: underline
p, ul
	margin-top: 0
#b
	border-top: 1px solid #000
	margin: 9px -15px 0
	//padding: 3px 9px
	padding: 3px 60px
	//text-align: right
	//font-size: 9px
	//background: url(/v/cc.svg) no-repeat right
	//display: block
//.calendar
//	background: #888
//	border: 1px solid #000
//	font-weight: 900
//	text-align: center
//	width: 90px
//	float: left
//	margin-right: 5px
//.calendar b
//	display: block
//	font-size: 26px
//	line-height: 23px
//.details
//	background: #ddd
//	display: inline-block
//	width: 100%
//	margin-bottom: 5px
//.blurb
//	font-weight: 900
//	padding: 0 5px 0 5px
//	text-decoration: none
//	border-bottom: 1px solid #000
//.blurb a
//	text-decoration: none
//.edit
//	float: right
//	font-weight: 900
//	font-style: italic
//th
//	vertical-align: top
//
//.r
//	color: red
@media print
	#a
		box-shadow: none
		background: #fff
	span
		margin: 0 0 0 168px
	//.edit
	//	display: none

.events
	a
		text-decoration: none

	div
		background: #DDD
		display: inline-block
		width: 100%
		margin-bottom: 5px

	p
		//font-weight: 900
		padding: 0 5px 0 5px
		text-decoration: none
		border-bottom: 1px solid #000
		margin: 0

		//a:first-child
		a
			//float: right
			font-weight: 700
			font-style: italic

	time
		background: #888
		border: 1px solid #000
		font-weight: 900
		text-align: center
		width: 130px
		float: left
		margin-right: 5px

		b
			display: block
			font-size: 26px
			line-height: 23px

.center
	text-align: center

//+db-error()

+float-right()