@import util

@font-face
	font-family: han
	src: url(/2/a) format('woff2'), url(/f/a) format('woff')

body
	background: #000
	font-family: Arial, sans-serif
	margin: 0

.homeContainer
	background: url(/e/a) no-repeat #fff
	padding: 0 15px
	box-shadow: 0 0 3px 3px #888
h1
	font: 66px/58px han, Verdana, sans-serif
	margin: 0

	a
		text-decoration: none
		color: #000

h2
	margin-bottom: 0

span
	font-size: 16px
	margin: 0 0 80px 168px
	display: block
	white-space: nowrap

legend
	font-weight: 700

.error
	//TODO add red cross icon or something
	border: 1px solid red
	display: inline-block
	background: pink

.googleMapCanvas
	height: 350px

.text-left
	text-align: left

.homeMenu
	//TODO use an import for background gradient here
	background: #444
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#888888', GradientType=0)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, #000), color-stop(7%, #888), color-stop(80%, #000), color-stop(99%, #888))
	background: -moz-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: -webkit-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: -o-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: -ms-linear-gradient(top, #000 7%, #888 7%, #000 80%, #888 99%)
	background: linear-gradient(to bottom, #000 7%, #888 7%, #000 80%, #888 99%)
	margin: 0 -15px 15px

	li
		display: inline-block

	a, .v
		padding: 5px 30px
		color: #fff
		text-decoration: none
		display: inline-block

	a:hover
		color: #f70
		text-decoration: underline

	.v
		//The current visited page
		+background-linear-gradient(#F70, 7%, #FFF, 7%, #888, 80%, #333, 99%)
		font-weight: 700
		color: #000

p, ul
	margin-top: 0

.homeFooter
	border-top: 1px solid #000
	margin: 0 -15px
	padding: 3px 60px

.events
	a
		text-decoration: none

	div
		background: #DDD
		display: inline-block
		width: 100%
		margin-bottom: 5px

	p
		padding: 0 5px 0 5px
		text-decoration: none
		border-bottom: 1px solid #000
		margin: 0

		a
			font-weight: 700
			font-style: italic

	time
		background: #888
		border: 1px solid #000
		font-weight: 900
		text-align: center
		width: 130px
		float: left
		margin-right: 5px

		b
			display: block
			font-size: 26px
			line-height: 23px

.centre
	text-align: center

+float-right()
+form_layout()


.developerTools
	text-align: center
	a
		$spriteWidth: 30	//pixles
		$spriteHeight: 30	//pixles
		background: url(/p/about) 0 0 no-repeat
		width: #{$spriteWidth}px
		height: #{$spriteHeight}px
		margin: 0 .35em
		display: inline-block

		$counter: 1
		@each $width in 22, 30, 30, 13, 27, 30, 40, 37, 30 //sprite image pixel widths
			&:nth-child(#{$counter})
				@if $spriteWidth != $width
					width: #{$width}px
				@if $counter > 1
					background-position-y: -#{($spriteHeight * ($counter - 1))}px
			$counter: $counter + 1

@media print
	.homeContainer
		box-shadow: none
		background: #fff
	span
		margin: 0 0 0 168px

@media all and (min-width: 800px)
	body
		margin-left: 8px
		margin-right: 8px

@media all and (min-width: 900px)
	.homeContainer
		max-width: 90%
		margin: auto

@media all and (max-height: 649px)
	h2,p
		margin-top: 0.3em

	h2,p,ul,#menu
		margin-bottom: 0

@media all and (min-height: 650px)
	body
		margin-top: 8px
		margin-bottom: 8px

	span
		margin-bottom: 104px

	.homeFooter
		margin-top: 9px
