@import util

+reset()

body
	font: 700 small Arial,sans-serif

h1
	text-align: center

td, ul
	padding: 0

table, td
	border: 0 solid #000

table
	border-spacing: 0
	border-width: 0 1px 1px 0
	text-align: center
	width: 100%

td
	border-width: 1px 0 0 1px

//sort by red triangle
.SB
	background: url(/v/sortby.svg) no-repeat 3px 2px #ccc

.rS	//row separator
	background: none repeat scroll 0 0 #888
	height: 2px

.classHeadingRow	//Class row
	background: none repeat scroll 0 0 #fdd

	//Awarded Postiions
.p1  //First
	+background-gradient(goldenrod, gold)

.p2  //Second
	+background-gradient(#888, silver)

.p3  //Third
	+background-gradient(sienna, peru)

.p4  //Fourth
	+background-gradient(#f70, red)

.p5  //Fith
	+background-gradient(aqua, #07f)

.p6  //Sixth
	+background-gradient(green, lime)

.p7  //Badge Place
	+background-gradient(#faf, grey)

.p8  //Badge Place
	+background-gradient(lime, green)


//WARNINGS::
.w4  //Highest Possible Score
	background: #707
	color: #faf

.w2	//warning no score
	background: #00f
	color: #fff

.w3  //Incomplete Score
	background: #000
	color: #fff

.w1  //ShootOff in position column
	background: #900
	color: #fff


.legend
	padding: 0 5px
	text-align: left

	.SB
		padding-left: 15px

	label
		border-right: 1px solid #000
		display: inline-block
		padding: 0 5px

		&:first-child
			border-left: 1px solid #000

+float-right()

#scoreSettings
	background: url(/v/settings.svg) no-repeat center center

#scoreboard_settings
	display: none

.tc
	text-transform: capitalize

+menu()

@media print
	ul,#scoreboard_settings
		display: none !important