<!doctype html>
<html>
<head>
	<link rel=stylesheet href=^^DIR_CSS^^home.css>
	<link rel=icon type=image/png href=^^DIR_PNG^^^^FAVICON^^>
	<title>EventBucket{{if .Title}} - {{.Title}}{{end}}</title>
</head>
<body>
	<div id=a>
		<h1><a href=/>EventBucket</a></h1>
		<span>Making scoring easier for rifle clubs!</span>
		{{HTM .Menu}}
{{/*		<ul id=menu>
			{{range $link, $href := .Menu}}
			<li><a href={{$href}}>{{$link}}</a></li>
			{{end}}
		</ul>*/}}
{{/*	^^ERROR^^*/}}
		^^BODY^^
		<p id=b>Copyright &copy; 2011-^^CURRENT_YEAR^^ EventBucket<a href=licence class=r>Licence</a></p>
	</div>
	<script src="/j/new_relic.js"></script>
</body>
</html>