<!doctype html>
<html>
<head>
	<link rel=stylesheet href={{.DirCss}}home.css>
	<link rel=icon type=image/png href={{.Favicon}}>
	<title>EventBucket{{if .Title}} - {{.Title}}{{end}}</title>
</head>
<body>
	<div id=a>
		<h1><a href=/>EventBucket</a></h1>
		<span>Making scoring easier for rifle clubs!</span>
		{{HTM .Menu}}
{{/*		<ul id=menu>
			{{range $link, $href := .Menu}}
			<li><a href={{$href}}>{{$link}}</a></li>
			{{end}}
		</ul>*/}}
{{/*	^^ERROR^^*/}}
		^^BODY^^
		<p id=b>Copyright &copy; 2011-{{.CurrentYear}} EventBucket<a href=licence class=r>Licence</a></p>
	</div>
	{{if .PRODUCTION}}<script src=/j/new_relic.js></script>{{end}}
</body>
</html>