<!doctype html>
<html>
<head>
	<link rel=stylesheet href=^^DirCss^^home.css>
	<link rel=icon type=image/png href=^^Favicon^^>
	<title>EventBucket{{if .Title}} - {{.Title}}{{end}}</title>
</head>
<body>
	<div class=homeContainer>
		<h1><a href=/>EventBucket</a></h1>
		<span>Making scoring easier for rifle clubs!</span>
		<ul class=homeMenu>
			{{range $index, $menuItem := .Menu}}
				{{if eq $.Title $menuItem.Name}}
					<li class=v>{{$menuItem.Name}}
				{{else if not $menuItem.Hidden}}
					<li><a href={{$menuItem.Link}}>{{$menuItem.Name}}</a>
				{{end}}
				</li>
			{{end}}
		</ul>
		^^BODY^^
		<p class=homeFooter>Copyright &copy; 2011-{{.CurrentYear}} EventBucket<a href=/licence class=r title="View licence"><img src=/p/80x15.png alt=Licence height=15 width=80></a></p>
	</div>
	^^NewRelic^^
</body>
</html>