{{$id := .ID}}
{{$allEventGrades := .AllEventGrades}}
<h1>{{.Title}} - {{.EventName}}</h1>
{{HTM .menu}}

{{HTM .FormNewEvent}}

{{Fieldset "Ranges &amp; Aggregates"}}
	{{if.ListRanges}}
		<table>
			<tr>
				<th>Range ID</th>
				<th>Name</th>
				<th>Aggregate Ranges</th>
				<th>Hide</th>
				<th>Lock</th>
				<th></th>
			</tr>
			{{range $key, $value := .ListRanges}}
				{{with $value}}
					<tr>
						<td>{{$key}}</td>
						<td><input name=name value="{{.Name}}" form=range{{$key}}></td>
						<td>{{with .Aggregate}}{{HTM .}}{{end}}</td>
						<td>
							{{if not .Hidden}}
								<input type=checkbox name=hide form=range{{$key}}>
							{{else}}
								<input type=checkbox name=hide form=range{{$key}} checked>
							{{end}}
						</td>
						<td>
							{{if not .Aggregate}}
								{{if not .Locked}}
									<input type=checkbox name=lock form=range{{$key}}>
								{{else}}
									<input type=checkbox name=lock form=range{{$key}} checked>
								{{end}}
							{{end}}
						</td>
						<td><form id=range{{$key}} method=post action=/updateRange><button>Save</button><input name=eventid type=hidden value={{$id}}><input name=rangeid type=hidden value={{$key}}></form></td>
					</tr>
				{{end}}
			{{end}}
		</table>
	{{end}}

	{{HTM .AddRange}}

	{{with .AddAgg}}{{HTM .}}{{end}}
{{EndFieldset}}


{{if.ListRanges}}
	{{Fieldset "Ranges Shots &amp; Sighters"}}
		<form method=post action=/eventShotsNSighters>
			<input type=hidden name=eventid value={{.ID}}>
			<table>
				<tr>
					<th rowspan=2>Class</td>
					{{range $key, $value := .ListRanges}}
						{{if eq $value.Aggregate ""}}
							<th colspan=2>{{$value.Name}}</th>
						{{end}}
					{{end}}
				</tr>
				<tr>
					{{range $key, $value := .ListRanges}}
						{{if eq $value.Aggregate ""}}
							<td>Sighters</td>
							<td>Shots</td>
						{{end}}
					{{end}}
				</tr>
				{{range $class_id, $class := $allEventGrades}}
					<tr>
						<td>{{$class.Display}}</td>
						{{range $key, $value := $.ListRanges}}
							{{if eq $value.Aggregate ""}}
								<td><input type=number value=2 class=w5></td>
								<td><input type=number value=10 class=w5></td>
							{{end}}
						{{end}}
					</tr>
				{{end}}
			</table>
			<button>Save</button>
		</form>
	{{EndFieldset}}
{{end}}

{{HTM .isPrizemeeting}}