<h1>{{.Title}}</h1>
{{HTM .Menu}}

{{if .Valid}}
	{{Fieldset "Shooter Entry"}}
	<form action={{.NewShooterEntry}} id=ShooterEntry class=l>
		<table>
			<tr>
				<td><label for=first>First Name:</label></td>
				<td><input id=first name=first required></td>
			</tr>
			<tr>
				<td><label for=surname>Surname:</label></td>
				<td><input id=surname name=surname required></td>
			</tr>
			<tr>
				{{/* TODO change club to a data list*/}}
				<td><label for=club>Club:</label></td>
				<td><input id=club name=club required></td>
			</tr>
			<tr>
				<td><label for=sid>Existing Shooter:</label></td>
				<td><select id=sid name=sid class=es>
					<option value disabled>Search for Shooter...</option>
				</select></td>
			</tr>
			<tr>
				<td><label for=grade>Class &amp; Grade:</label></td>
				<td><select id=grade name=grade required>
					<option selected value disabled></option>
					{{HTM .GradeOptions}}
				</select><input type=button class="r bs" tabindex=-1 onclick="var d=document.getElementById('gradeSettings');d.hidden=(!d.hidden)"></td>
			</tr>
			<tr>
				<td><label for=age>Age Group:</label></td>
				<td>
					<select id=age name=age required>
						{{HTM .AgeOptions}}
					</select>
				</td>
			</tr>
			<tr>
				<td><button formaction={{.ExistingShooterEntry}}>Add Existing Shooter</button></td>
				<td class=ar><button>Add New Shooter</button></td>
			</tr>
		</table>
		<input type=hidden name=event_id value={{.EventId}}>
	</form>

	<div id=gradeSettings hidden>
		{{HTM .EventGrades}}
	</div>
	{{EndFieldset}}
{{end}}

{{Fieldset "Entry List"}}
	{{if .ListShooters}}
		<table>
			<tr>
				<th>Id</th>
				<th>Shooter</th>
				<th>Club</th>
				<th>Class &amp; Grade</th>
			</tr>
			{{range $shooterId, $shooter := .ListShooters}}
				{{if eq false $shooter.Hidden}}
					<tr>
						<!--<td>{{$shooterId}}</td>-->
						<td>{{.Id}}</td>
						<td>{{.FirstName}} {{.Surname}}</td>
						<td>{{.Club}}</td>
						<td>{{CLASSLONG .Grade}}</td>
					</tr>
				{{end}}
			{{end}}
		</table>
	{{else}}
		No shooters entered
	{{end}}
{{EndFieldset}}
<br><br><br>{{HTM .QrBarcode}}