<h1>{{.Title}} - {{.EventName}}</h1>
{{HTM .Menu}}

{{if .Valid}}
	{{Fieldset "Shooter Entry"}}
	<form action={{.NewShooterEntry}} id=ShooterEntry class=l>
		<table>
			<tr>
				<td><label for=first>First Name:</label></td>
				<td><input id=first name=first required></td>
			</tr>
			<tr>
				<td><label for=surname>Surname:</label></td>
				<td><input id=surname name=surname required></td>
			</tr>
			<tr>
				{{/* TODO change club to a data list*/}}
				<td><label for=club>Club:</label></td>
				<td><input id=club name=club required></td>
			</tr>
			<tr>
				<td rowspan=2><label for=sid>Existing Shooter:</label></td>
				<td><select id=sid name=sid class=es>
					<option value disabled>Search for a shooter...</option>
				</select></td>
			</tr>
			<tr>
				<td id=palette></td>
			</tr>
			<tr>
				<td><label for=grade>Class &amp; Grade:</label></td>
				<td><select id=grade name=grade required>
					<option selected value disabled></option>
					{{HTM .EntryOptions}}
				</select><input type=button class="r bs" tabindex=-1 onclick="var d=document.getElementById('gradeSettings');d.hidden=(!d.hidden)" title="Edit the available classes &amp; grades for this event."></td>
			</tr>
			<tr>
				<td><label for=age>Age Group:</label></td>
				<td>
					<select id=age name=age required>
						{{HTM .AgeOptions}}
					</select>
				</td>
			</tr>
			<tr>
				<td><button formaction={{.ExistingShooterEntry}} id=addExistingShooter>Add Existing Shooter</button></td>
				<td class=ar><button id=addNewShooter>Add New Shooter</button></td>
			</tr>
		</table>
		<input type=hidden name=eventid value={{.EventId}}>
	</form>

	<div id=gradeSettings hidden>
		{{HTM .EventGrades}}
	</div>
	{{EndFieldset}}
{{end}}

{{if .Valid}}
	{{Fieldset "Entry List"}}
		{{if ge .ShooterQty 20}}
			Displaying the last 20 shooters entered.
		{{end}}
		{{with .EditShooterList}}
			<table>
				<tr>
					<th>Id</th>
					<th>Disabled</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Club</th>
					<th>Class &amp; Grade</th>
					<th>Age Group</th>
				</tr>
				{{HTM .}}
			</table>
		{{else}}
			No shooters entered
		{{end}}
	{{EndFieldset}}
{{end}}