{{.ShooterList}}

{{HTM .menu}}

<h1>{{.EventName}}</h1>
<table>
	<tr>
		<td>Pos
		<td>Shooter
		<td>Club
		<td>Age Group
		{{range $range_id, $range := .ListRanges}}
			{{if not .Hidden}}
				{{if eq $range_id $.SortByRange}}
					<td class=SB>{{.Name}}
				{{else}}
					<td>{{.Name}}
				{{end}}
			{{end}}
		{{end}}
	{{range $shooter := .ListShooters}}
		{{if .GradeSeparator}}
			<tr><td colspan=99 class=classHeadingRow>{{CLASSLONG .Grade}}<a href=//eventbucket.com.au target=_blank class=r>EventBucket.com.au</a>
		{{end}}
		<tr>
			<td{{CSSclass "w" .Warning}}>{{.Position}}
			<td class=tc>{{.FirstName}} {{.Surname}}
			<td>{{.Club}}
			<td>{{AgeGroupDisplay .AgeGroup}}
			{{range $rangeID, $rangeObj := $.ListRanges}}
				{{if not .Hidden}}
					{{$new_range_id := VAR2STR $rangeID}}
					{{$now := index $shooter.Scores $new_range_id}}
					<td{{POSITION $now}}>
						{{with $now}}
							{{with.Total}}{{.}}{{end}}{{with .Centres}}<sup>{{.}}</sup>{{end}}
						{{end}}
				{{end}}
			{{end}}
	{{end}}
	<tr>
		<td colspan=99 class=legend>
			{{with .Legend}}
				Legend: {{range $index, $legend := .}}
					<label class={{$legend.CSSClass}}>{{$legend.Name}}</label>
				{{end}}
			{{end}}
			<span class=r>Powered by <a href=//eventbucket.com.au target=_blank>EventBucket.com.au</a></span>
</table>

{{if .ListRanges}}
<div id=scoreboard_settings>
	{{Fieldset "Ranges &amp; Aggregates"}}
		{{if.ListRanges}}
			<table>
				<tr>
					<th>Range ID
					<th>Name
					<th>Hide
					<th>Lock
					<th></th>
				{{range $key, $value := .ListRanges}}
					{{with $value}}
						<tr>
							<td>{{$key}}
							<td><input name=name value={{.Name}} form=range{{$key}}>
							<td>
								{{if .Hidden}}
									<input type=checkbox name=hide form=range{{$key}} checked>
								{{else}}
									<input type=checkbox name=hide form=range{{$key}}>
								{{end}}
							<td>
								{{if not .Aggregate}}
									{{if .Locked}}
										<input type=checkbox name=lock form=range{{$key}} checked>
									{{else}}
										<input type=checkbox name=lock form=range{{$key}}>
									{{end}}
								{{end}}
							<td>
								<form id=range{{$key}} method=post action=/updateRange>
									<button>Save</button>
									<input name=event_id type=hidden value={{$.EventID}}>
									<input name=range_id type=hidden value={{$key}}>
								</form>
					{{end}}
				{{end}}
			</table>
		{{end}}
	{{EndFieldset}}

	{{HTM .SortScoreboard}}
</div>
{{end}}