{{.ShooterList}}

{{HTM .menu}}

<h1>{{.EventName}}</h1>
<table>
	<tr>
		<td>Pos</td>
		<td>Shooter</td>
		<td>Club</td>
		<td>Age Group</td>
		{{range $range_id, $range := .ListRanges}}
			{{if not .Hidden}}
				{{if eq $range_id $.SortByRange}}
					<td class=SB>
				{{else}}
					<td>
				{{end}}
				{{.Name}}</td>
			{{end}}
		{{end}}
	</tr>
	{{range $shooter := .ListShooters}}
		{{if .GradeSeparator}}
			<tr><td colspan=99 class=classHeadingRow>{{CLASSLONG .Grade}}<a href=//eventbucket.com.au target=_blank class=r>EventBucket.com.au</a></td></tr>
		{{end}}
		<tr>
			<td{{CSSclass "w" .Warning}}>{{.Position}}</td>
			<td class=tc>{{.FirstName}} {{.Surname}}</td>
			<td>{{.Club}}</td>
			<td>{{AgeGroupDisplay .AgeGroup}}</td>
			{{range $rangeId, $rangeObj := $.ListRanges}}
				{{if not .Hidden}}
					{{$new_range_id := VAR2STR $rangeId}}
					{{$now := index $shooter.Scores $new_range_id}}
					<td{{POSITION $now}}>
						{{with $now}}
							{{with.Total}}{{.}}{{end}}{{with .Centers}}<sup>{{.}}</sup>{{end}}
						{{end}}
					</td>
				{{end}}
			{{end}}
		</tr>
	{{end}}
	<tr>
		<td colspan=99 class=legend>
			{{with .Legend}}
				Legend: {{range $index, $legend := .}}
					<label class={{$legend.CssClass}}>{{$legend.Name}}</label>
				{{end}}
			{{end}}
			<span class=r>Powered by <a href=//eventbucket.com.au target=_blank>EventBucket.com.au</a></span>
		</td>
	</tr>
</table>

{{if .ListRanges}}
<div id=scoreboard_settings>
	{{Fieldset "Ranges &amp; Aggregates"}}
		{{if.ListRanges}}
			<table>
				<tr>
					<th>Range Id</th>
					<th>Name</th>
					<th>Hide</th>
					<th>Lock</th>
					<th></th>
				</tr>
				{{range $key, $value := .ListRanges}}
					{{with $value}}
						<tr>
							<td>{{$key}}</td>
							<td><input name=name value={{.Name}} form=range{{$key}}></td>
							<td>
								{{if not .Hidden}}
									<input type=checkbox name=hide form=range{{$key}}>
								{{else}}
									<input type=checkbox name=hide form=range{{$key}} checked>
								{{end}}
							</td>
							<td>
								{{if not .Aggregate}}
									{{if not .Locked}}
										<input type=checkbox name=lock form=range{{$key}}>
									{{else}}
										<input type=checkbox name=lock form=range{{$key}} checked>
									{{end}}
								{{end}}
							</td>
							<td>
								<form id=range{{$key}} method=post action=/updateRange>
									<button>Save</button>
									<input name=event_id type=hidden value={{$.EventId}}>
									<input name=range_id type=hidden value={{$key}}>
								</form>
							</td>
						</tr>
					{{end}}
				{{end}}
			</table>
		{{end}}
	{{EndFieldset}}

	{{HTM .SortScoreboard}}
</div>
{{end}}