<h1>Start Shooting: {{.RangeName}}</h1>
{{$classShots := .class_shots}}
{{$rangeId := .RangeId}}
{{$longest_shots := .longest_shots}}
{{$class_shots_length := .class_shots_length}}
{{HTM .menu}}
{{Fieldset "Shooter Scores"}}

	{{with .LinkToPage}}{{HTM .}}{{end}}

	{{if .ListShooters}}
		<table class=startShooting>
			<thead>
				<tr id=h>
					<th>ID</th>
					<th>Club</th>
					<th>Grade</th>
					<th>Shooter</th>

					{{range $index_zzz, $shot_name := .first_class_shots}}
						<td>{{.}}</td>
					{{end}}
					<th colpan={{.first_loaded_colspan}}>Total</th>

					{{/*
					{{$first_shots := index $classShots .first_class}}
					{{range $shot_index, $shoot := $first_shots}}
						<th>{{.}}</th>
					{{end}}
					{{$lenth_this_shot := index $class_shots_length .first_class}}
					<th{{COLSPAN $longest_shots $lenth_this_shot}}>Total</th>
					*/}}

				</tr>
			</thead>
			<tbody>
				{{range $zzz, $shooter := .ListShooters}}
					{{if eq false $shooter.Hidden}}
						<tr id={{$shooter.Id}} data-grade={{.Grade}} data-class={{JSCLASS .Grade}}>
							<th>{{$shooter.Id}}</th>
							<th>{{.Club}}</th>
							<th>{{GRADE .Grade}}</th>
							<th class=name href=#{{$shooter.Id}}>{{$shooter.FirstName}} {{$shooter.Surname}}</th>
							{{$range_scores := index .Scores $.strRangeId}}
							{{$tempClass := CLASS .Grade}}
							{{$shot_cells := index $classShots $tempClass}}
							{{range $shot_index, $shot_name := $shot_cells}}
								<td>{{DisplayShot $shot_index $range_scores}}</td>
							{{end}}
							{{$lenth_this_shot := index $class_shots_length $tempClass}}
							<th{{COLSPAN $longest_shots $lenth_this_shot}} class=t>
							{{with $range_scores}}
								{{.Total}}{{with .Centers}}.{{.}}{{end}}
							{{end}}
							</th>
						</tr>
					{{end}}
				{{end}}
				<tr id=x>
					<th colspan=99 id=bu>
						{{/*<label class=sighters>
							Sighters:<br>
							<select id=selectSighters>
								<option>Drop All</option>
								<option>Keep S2 &gt;</option>
								<option>Keep All</option>
							</select>
						</label>
						<div id=bu></div>*/}}
					</th>
				</tr>
			</tbody>
		</table>
	{{else}}
 		{{if .Aggregate}}
			<p>This is an aggregate range</p>
		{{else}}
			{{NOSHOOTERS}}
		{{end}}
	{{end}}

	<table hidden>
		<tr id=heading_cells0>{{HTM .target_heading_cells}}</tr>
		<tr id=heading_cells1>{{HTM .fclass_heading_cells}}</tr>
		<tr id=heading_cells2>{{HTM .match_heading_cells}}</tr>
	</table>
	<script>var eventId={{.EventId}}, rangeId={{.RangeId}};</script>
{{EndFieldset}}