<h1>Total Scores: {{.RangeName}}</h1>
{{HTM .menu}}
{{with .Message}}
	{{HTM .}}
{{end}}
{{Fieldset "Shooter Scores"}}
	{{HTM .LinkToPage}}
	{{if .ListShooters}}
		<table>
			<tr>
				<th>ID</th>
				<th>Grade</th>
				<th>Club</th>
				<th>Shooter</th>
				<th>Scores</th>
			</tr>
			{{range $shooter := .ListShooters}}
				{{if eq false $shooter.Hidden}}
					{{with $shooter}}
						<tr id={{.ID}} data-class=fclass>
							<td>{{.ID}}</td>
							<td>{{GRADE .Grade}}</td>
							<td>{{.Club}}</td>
							<td class=name>{{.FirstName}} {{.Surname}}</td>
							<td>
								{{$newForm := index $.FormTotalScores .ID}}
								{{HTM $newForm}}
							</td>
						</tr>
					{{end}}
				{{end}}
			{{end}}
		</table>
	{{else}}
		{{NOSHOOTERS}}
	{{end}}
{{EndFieldset}}