{{$eventId := .EventId}}
<h1>{{.Title}}</h1>

{{HTM .menu}}

{{HTM .AddRange}}

{{HTM .AddShooter}}

{{if .ListShooters}}
	{{Fieldset "Shooters"}}
		<table>
			<tr>
				<th>Id</th>
				<th>Shooter</th>
				<th>Club</th>
				<th>Class</th>
				<th>Grade</th>
			</tr>
			{{range $shooterId, $shooter := .ListShooters}}
				<tr>
					<td>{{$shooterId}}</td>
					<td>{{.FirstName}} {{.Surname}}</td>
					<td>{{.Club}}</td>
					<td>{{CLASS .Grade}}</td>
					<td>{{GRADE .Grade}}</td>
				</tr>
			{{end}}
		</table>
	{{EndFieldset}}
{{end}}
