<p>EventBucket is designed to assist with collecting scores during shooting events. Has your rifle club ever had difficulty keeping up with scoring for weekly matches, pennants or even prize meetings? EventBucket will solve these issues. It does not require electronic targets and can complement existing scoring and check scoring using cards and blackboards.</p>
<h2>Calendar</h2>
{{with .Events}}
	<div class=events>
		{{range .}}
			<div>
				{{if and .Day .Date .Month .Year}}
					<time>
						{{with .Day}}{{.}}{{end}}
						{{with .Date}}<b>{{.}}</b>{{end}}
						{{with .Month}}{{.}}{{end}}
						{{with .Year}}{{.}}{{end}}
					</time>
				{{end}}
				<p>
					{{if.Id}}
						{{/* if event is in the future <a href=/event/{{.Id}}>Edit</a>*/}}
						<a href=/event/{{.Id}}>{{.Name}}</a>
					{{end}}
				</p>
				{{if.Club}}
					<a href=/club/{{.ClubId}}>{{.Club}}</a><br>
				{{end}}
				{{.Time}}
			</div>
		{{end}}
	</div>
{{else}}
	{{ERROR_NO_EVENTS}}
{{end}}