<h1>Start Shooting: {{.RangeName}}</h1>
{{$classShots := .class_shots}}
{{$rangeId := .RangeId}}
{{$longest_shots := .longest_shots}}
{{$class_shots_length := .class_shots_length}}
{{HTM .menu}}
{{if .ListShooters}}
	{{Fieldset "Shooter Scores"}}
		<table class=startShooting><thead>
			<tr id=h>
				<th>ID</th>
				<th>Club</th>
				<th>Grade</th>
				<th>Shooter</th>
				{{$first_shots := index $classShots .first_class}}
				{{/*range $longest_shots*/}}
				{{range $shot_index, $shoot := $first_shots}}
					<th>{{.}}</th>
				{{end}}
				{{$lenth_this_shot := index $class_shots_length .first_class}}
				<th{{COLSPAN $longest_shots $lenth_this_shot}}>Total</th>
			</tr>
		</thead>
		<tbody>
			{{range $shooterId, $shooter := .ListShooters}}
				<tr id={{$shooterId}} data-grade={{.Grade}} data-class={{JSCLASS .Grade}}>
					<th>{{$shooterId}}</th>
					<th>{{.Club}}</th>
					<th>{{GRADE .Grade}}</th>
					<th class=name>{{$shooter.FirstName}} {{$shooter.Surname}}</th>
					{{$range_scores := index .Scores $rangeId}}

					{{$tempClass := CLASS .Grade}}
					{{$shot_cells := index $classShots $tempClass}}
					{{range $shot_index, $shoot := $shot_cells}}
						<td>{{DisplayShot $shot_index $range_scores}}</td>
					{{end}}
					{{$lenth_this_shot := index $class_shots_length $tempClass}}
					<th{{COLSPAN $longest_shots $lenth_this_shot}}>
						{{with $range_scores}}
							{{.Total}}{{with .Centers}}.{{.}}{{end}}
						{{end}}
					</th>
				</tr>
			{{end}}
			<tr id=x>
				<th colspan=99>
					<label class=sighters>
						Sighters:<br>
						<select id=selectSighters>
							<option>Drop All</option>
							<option>Keep S2 &gt;</option>
							<option>Keep All</option>
						</select>
					</label>
					<div id=bu></div>
				</th>
			</tr>
		</tbody></table>
	{{EndFieldset}}
{{else}}
	{{NOSHOOTERS}}
{{end}}