<h1>Total Scores: {{.RangeName}}</h1>
{{HTM .menu}}
{{$classShots := .classShots}}
{{$eventId := .EventId}}
{{$rangeId := .RangeId}}
{{$FormTotalScores := .FormTotalScores}}
{{with .Message}}
	{{HTM .}}
{{end}}
{{Fieldset "Shooter Scores"}}
{{HTM .LinkToPage}}
{{if .ListShooters}}
	<table>
		<tr>
			<th>ID</th>
			<th>Grade</th>
			<th>Club</th>
			<th>Shooter</th>
			<th>Scores</th>
		</tr>
		{{/*range $shooterId, $shooter := .ListShooters*/}}
		{{range $shooter := .ListShooters}}
			{{with $shooter}}
				<tr id={{.Id}} data-class=fclass>
					<td>{{.Id}}</td>
					<td>{{GRADE .Grade}}</td>
					<td>{{.Club}}</td>
					<td class=name>{{.FirstName}} {{.Surname}}</td>
					<td>
						{{$newForm := index $FormTotalScores .Id}}
						{{HTM $newForm}}
					</td>
				</tr>
			{{end}}
		{{end}}
	</table>
{{else}}
	{{NOSHOOTERS}}
{{end}}
{{EndFieldset}}