{{define "about"}}
	<p>EventBucket is designed to assist with collecting scores during shooting events. Has your rifle club ever had difficulty keeping up with scoring for weekly matches, pennants or even prize meetings? EventBucket will solve these issues. It does not require electronic targets and can complement existing scoring and check scoring using cards and blackboards.
	{{template "networkAdapters" .}}
	<p class=center>
		<span class=builtWith>
			Built with:<br>
			<a title=BuildIt.ninja href=//github.com/speedyhoon/BuildIt.ninja><img alt=BuildIt.ninja src=/w/bin height=32 width=28></a>
			<a title="Go Programming Language" href=//golang.org><img alt=Go src=/w/go height=32 width=22></a>
			<a title="Google Chrome Canary" href=//google.com.au/chrome/browser/canary.html><img alt="Chrome Canary Browser" src=/w/can height=32 width=32></a>
			<a title="JetBrains Gogland" href=//jetbrains.com/go><img alt=Gogland src=/w/gog height=32 width=35></a>
			<a title="Stylus CSS preprocessor" href=//stylus-lang.com><img alt=Stylus src=/w/sty height=32 width=51></a>
			<a title=Git href=//git-scm.com><img alt=Git src=/w/git height=32 width=29></a>
			<a title="Closure Tools" href=//developers.google.com/closure><img alt="Closure Tools" src=/w/ct height=32 width=32></a>
			<a title=Inkscape href=//inkscape.org><img alt=Inkscape src=/w/ink height=32 width=32></a>
			<a title="Inno Setup" href=//jrsoftware.org/isdl.php><img alt="Inno Setup" src=/w/inn height=32 width=38></a>
			<a title="Icofx - The Professional Icon Editor" href=//icofx.ro/><img alt=iconfx src=/w/ico height=32 width=35></a>
		</span>
		<br><br>
		EventBucket version: GitVersionTag<br>
		Compiled by BuiltIt.ninja using GoVersion, on BuildDate.
{{end}}