{{define "page"}}
    <p>EventBucket is designed to assist with collecting scores during shooting events. Has your rifle club ever had difficulty keeping up with scoring for weekly matches, pennants or even prize meetings? EventBucket will solve these issues. It does not require electronic targets and can complement existing scoring and check scoring using cards and blackboards.
    {{template "networkAdapters" .}}
    <p class=center>
        Built with<br>
        <span class=builtWith>
            <a title="Go Programming Language" href=//golang.org><img alt=Go src=/w/go height=30 width=22></a>
            <a title="IntelliJ IDEA" href=//jetbrains.com/idea><img alt="IntelliJ IDEA" src=/w/idea height=30 width=30></a>
            <a title="Google Chrome" href=//google.com.au/chrome><img alt="Chrome Browser" src=/w/chrome height=30 width=30></a>
            <a title="Closure Tools" href=//developers.google.com/closure><img alt="Closure Tools" src=/w/closure height=30 width=30></a>
            <a title=Git href=//git-scm.com><img alt=Git src=/w/git height=30 width=29></a>
            <a title="Sass: Syntactically Awesome Style Sheets" href=//sass-lang.com><img alt=Sass src=/w/sass height=30 width=40></a>
            <a title=Inkscape href=//inkscape.org><img alt=Inkscape src=/w/inkscape height=30 width=30></a>
        </span>
        <br><br>
        EventBucket version: GitVersionTag<br>
        Compiled by Cam Webb using GoVersion, on BuildDate.
{{end}}