{{define "page"}}
	{{template "NewClub" .NewClub}}
	{{with .ListClubs}}
	Total Clubs: {{len .}}
		<table>
			<thead>
				<tr>
					<th>Club Name
					<td>Default Club
					<td>Edit
			</thead>
			{{range .}}
				<tr>
					<td><a href=/club/{{.ID}}>{{.Name}}</a>
					{{if.IsDefault}}<td class=tick>{{else}}<td>{{end}}
					<td class=center><a href=/club/{{.ID}}#edit><img src=/v/edit alt="edit club" height=100%></a>
				{{end}}
		</table>
		{{if not $.debug}}
			<div id=map></div>
			<script defer src=/j/map></script>
		{{end}}
	{{else}}
		<samp>No Clubs found</samp>
	{{end}}
{{end}}