{{define "page"}}
	<h1>{{.Club.Name}}</h1>
	<p>{{.Club.IsDefault}}</p>
	<h2>Map</h2>
	{{with .Club}}
		{{if and .Latitude .Longitude}}
			<div id=map></div>
			<script>
				// When the user clicks the marker, an info window opens.
				function initMap() {
					var map, t, u = {zoom: 4}, infoW = function (gh) { return function() {
						gh.infowindow.open(map, gh.marker);
					}};
					//TODO replace array with ajax json call
					var places = [
						{lat: -25.363, lng: 131.044, title: 'Los Vagas', address: '321 York Street', place:'Maintree, VIC, 3434'},
						{lat: -27.363, lng: 137.044, title: 'Had', address: '1 Plenty Place', place:'Fern gully, VIC, 3434'},
						{lat: -32.363, lng: 141.044, title: 'Tami', address: '23 Gotchi Terrace', place:'Fern gully, VIC, 3434'}
					];
					if(places.length){
						u.center = {lat: places[0].lat, lng: places[0].lng};
					}
					map = new google.maps.Map(document.getElementById('map'), u);

					for(t in places){
						places[t].infowindow = new google.maps.InfoWindow({
							content: '<h1>'+places[t].title+'</h1><p>'+places[t].address+'</p><p>'+places[t].place+'</p>'
						});
						places[t].marker = new google.maps.Marker({
							position: {lat: places[t].lat, lng: places[t].lng},
							map: map,
							title: places[t].title
						});
						places[t].marker.addListener('click', infoW(places[t]));
					}
				}
			</script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
		{{else}}
			<p>Club location not listed</p>
		{{end}}
	{{end}}
{{end}}