{{define "club"}}
	<h2>
		{{with.Club.URL}}<a href={{.}} target=_blank>{{end}}
			{{.Club.Name}}{{if.Club.IsDefault}} (default){{end}}
		{{if.Club.URL}}</a>{{end}}
	</h2>

	{{form clubEdit}}

	#ifdef PROD
		<h2>Map</h2>
		{{if and .Club.Latitude .Club.Longitude}}
			<div id=map></div>
			<script defer src=/j/map></script>
		{{else}}
			<p>Club latitude and longitude are empty.
		{{end}}
	#endif

	<h2>Mounds</h2>
	<small>Total Mounds: {{len .Club.Mounds}}</small>
	{{with.Club.Mounds}}
		<table data-e>
			<thead>
				<tr>
					<td>ID
					<td>Name
			<tbody>
				{{range $index, $name := .}}
					<tr>
						<td>{{$index}}
						<td>{{$name}}
				{{end}}
		</table>
	{{end}}

	<template>
		<td>
		<td>
			<form method=post action=/form.clubMoundUpsert.action>
				<input name=n required placeholder="Mound name" accesskey=m maxlength=MAXLEN>
				<input type=hidden name=I>
			</form>
		<td>
			<button name=C value={{.Club.ID}}>Save</button>
	</template>
	{{form clubMoundNew}}
	<script defer src=/j/main></script>
	<script defer src=/j/clubSettings></script>
	<script defer src=/j/editRow></script>
{{end}}