{{define "page"}}
	<h2>{{.Club.Name}}{{if.Club.IsDefault}} (default){{end}} <a href=#edit title="Edit club details"><img src=/v/edit alt=pencil></a></h2>

	<p>
		{{.Club.Address}}<br>
		{{.Club.Town}}{{with.Club.Postcode}}, {{.}}{{end}}
		{{with.Club.URL}}<br><a href={{.}}>{{.}}</a>{{end}}

	{{template "ClubDetails" .ClubDetails}}

	{{if not .debug}}
		<h2>Map</h2>
		{{if and .Club.Latitude .Club.Longitude}}
			<div id=map></div>
			<script defer src=/j/map></script>
		{{else}}
			<samp>Club location not listed</samp>
		{{end}}
	{{end}}

	<h2>Mounds</h2>
	{{with.Club.Mounds}}
		<table data-s>
			<thead>
				<tr>
					<th>ID
					<th>Name
					<td>Edit
			<tbody>
				{{range $index, $mound := .}}
					<tr>
						<td>{{$index}}
						<td>{{.Name}}
						<td>
				{{end}}
		</table>
	{{else}}
		<samp>No mounds listed</samp>
	{{end}}

	<template>
		<td>
		<td>
			<form method=post action=/19 id=editRow>
				<input name=n required placeholder="Mound name" accesskey=m maxlength=64>
				<input type=hidden name=I>
			</form>
		<td>
			<button name=C value={{.Club.ID}} form=editRow>Save</button>
	</template>
	{{template "NewShootingMound" .ClubMound}}
{{end}}