{{define "page"}}
	{{if and (not .Event.Closed) (not .Range.Locked)}}
		{{template "barcodeSearch"}}
		{{template "incompleteShooters" .}}
		{{if and .Hidden (not .ShowAll)}}<samp>{{.Hidden}} Shooter{{.Plural}} finished.</samp>{{end}}
		{{with .Event.Shooters}}
			<table>
				<thead>
					<tr>
						<th class=asc>ID
						<th>Club
						<th>Grade
						<th>Shooter
						<td>Total
						<td>Centers
						<td>Shoot off
				<tbody>
				{{range .}}
					{{if not .Hidden}}
						{{$score := index .Scores $.Range.StrID}}
						{{if and (not .Disabled) (or $.ShowAll (and (not $score.Total) (not $.ShowAll)))}}
							<tr>
								<td>{{.ID}}
								<td>{{.Club}}
								<td>{{(grade .Grade).Abbr}}
								<td>{{.FirstName}} {{.Surname}}
								{{$disc := (index $.Disciplines (grade .Grade).ClassID)}}
								<td>
									<input{{attr " value" $score.Total}} id={{.ID}} name=t max={{$disc.TopTotal}} min=0 step=1 placeholder={{$score.Total}} type=number required autocomplete=off>
								<td>
									<input{{attr " value" $score.Centers}} name=c max={{$disc.QtyShots}} data-max={{$disc.QtyShots}} min=0 step=1 placeholder={{$score.Centers}} type=number autocomplete=off data-top={{$disc.TopShot}}>
								<td>
									<input{{attr " value" $score.ShootOff}} name=h max=100 min=0 step=1 placeholder={{$score.ShootOff}} type=number autocomplete=off>
						{{end}}
					{{end}}
				{{end}}
			</table>
			<div class=popup hidden></div>
			<script defer src=dirJS/enterTotals></script>
			<script defer src=dirJS/shooterBarcode></script>
			<script defer src=dirJS/main></script>
		{{else}}
			<samp>No shooters entered in this event.</samp>
		{{end}}
	{{else}}
		{{template "rangeNotDisplayed" .}}
	{{end}}
{{end}}