{{define "entries"}}
	{{if.Event.Closed}}
		<samp>Event is closed, no changes can be made.</samp>
	{{else}}
		{{form .eventShooterNew}}
	{{end}}
	{{$hasRanges := ge (len .Event.Ranges) 1}}
	<p>Total Entries: {{len .Event.Shooters}}
	{{with.Event.Shooters}}
		<a href=/print-entry-list/{{$.Event.ID}}>Print Entry List</a>
		{{if not $.Event.Closed}}
			<table data-s>
		{{else}}
			<table>
		{{end}}
			<thead>
				<tr>
					<th class=asc>ID
					<th>Shooter
					<th>Club
					<th>Grade
					<th>Age Group
					<th>Locked
					<th>Ladies
					{{if not $.Event.Closed}}<td>Edit{{end}}
			<tbody>
			{{range.}}
				{{if not .Hidden}}
					<tr>
						<td>{{if $hasRanges}}<a href=/shooter-report/{{$.Event.ID}}/{{.ID}} title="{{.FirstName}}'s scores report">{{end}}{{.ID}}{{if $hasRanges}}</a>{{end}}
						<td>{{if $hasRanges}}<a href=/print-scorecards/{{$.Event.ID}}/{{.ID}} title="Print scorecards for {{.FirstName}}">{{end}}{{.FirstName}} <span>{{.Surname}}</span>{{if $hasRanges}}</a>{{end}}
						<td>{{.Club}}
						<td>{{(grade .Grade).Name}}
						<td>{{ageGroup .AgeGroup}}
						{{if.Disabled}}<td class=tick>{{else}}<td>{{end}}
						{{if.Sex}}<td class=tick>{{else}}<td>{{end}}
						{{if not $.Event.Closed}}<td>{{end}}
				{{end}}
			{{end}}
		</table>
	{{end}}
	{{if not .Event.Closed}}
		<template>
			<td>
			<td>
				<form method=post action=/22>
					<input name=f required placeholder="First name" accesskey=d maxlength=MAXLEN>
					<input name=s required placeholder=Surname maxlength=MAXLEN>
					<input type=hidden name=E value={{.Event.ID}}>
				</form>
			<td>
				<input type=search name=C required maxlength=MAXLEN list=C placeholder="Club name">
			<td>
				<select name=g required>
					{{template "optionList" .AvailableGrades}}
				</select>
			<td>
				<select name=r>
					{{template "optionList" .AgeGroups}}
				</select>
			<td>
				<input name=k type=checkbox>
			<td>
				<input name=x type=checkbox>
			<td>
				<button name=S>Save</button>
		</template>
		{{form .eventAvailableGrades}}
		<script defer src=/j/shooterSearch></script>
		<script defer src=/j/entries></script>
		<script defer src=/j/editRow></script>
		<script defer src=/j/main></script>
	{{end}}
{{end}}