{{define "entrylist"}}
	{{$hasRanges := ge (len .Event.Ranges) 1}}
	{{if not $hasRanges}}<samp>This event has no ranges</samp>{{end}}
	{{with.Event.Shooters}}
		<p>Total Entries: {{len .}}
		<table>
			<thead>
				<th class=asc>ID
				<th>Shooter
				<th>Club
				<th>Grade
				<th>Age Group
				<th>Ladies
			<tbody>
			{{range.}}
				<tr>
					<td>{{.ID}}
					<td>{{.FirstName}} {{.Surname}}
					<td>{{.Club}}
					<td>{{(grade .Grade).Name}}
					<td>{{ageGroup .AgeGroup}}
					<!--td{{/*a " class=tick" .Sex*/}}-->
					{{if.Sex}}<td class=tick>{{else}}<td>{{end}}
			{{end}}
		</table>
	{{else}}
		<samp>No shooters entered in event.</samp>
	{{end}}
	<script defer src=/j/print></script>
{{end}}