{{define "page"}}
	{{template "EventDetails" .EventDetails}}
	{{if .IsClosed}}
		<samp>Event is closed, no changes can be made.</samp>
	{{else}}
		{{template "AddRange" .AddRange}}
		{{if ge .QtyRanges 2}}
			{{template "AddAggregateRange" .AddAgg}}
		{{end}}
	{{end}}
	{{with .Ranges}}
		<p>Total Ranges: {{$.QtyRanges}}
		<table>
			<thead>
				<th class=^sorted^>ID
				<th>Range
				<th>Aggs
				<th>Locked
				<th>Edit
			</thead>
			{{range .}}
				<tr>
					<td>{{.ID}}
					<td>{{.Name}}
					<td>{{if .IsAgg}}{{.Aggs}}{{end}}
					<td>{{if not .IsAgg}}{{.Locked}}{{end}}
					<td class=^center^><img src=dirPNG/edit width=12 height=12 alt="edit icon">
			{{end}}
		</table>
	{{else}}
		<samp>This event has no ranges.</samp>
	{{end}}
{{end}}