{{define "page"}}
	{{template "EventDetails" .EventDetails}}
	{{template "AddRange" .AddRange}}
	{{if ge .QtyRanges 2}}
		{{template "AddAggregateRange" .AddAgg}}
	{{end}}
	{{with .Ranges}}
		<p>Total Ranges: {{$.QtyRanges}}
		<table>
			<thead>
				<th class=sorted>ID
				<th>Name
				<th>Aggs
				<th>Locked
				<th>Edit
			</thead>
			{{range .}}
				<tr>
					<td>{{.ID}}
					<td>{{.Name}}
					<td>{{if .IsAgg}}{{.Aggs}}{{end}}
					<td>{{if not .IsAgg}}{{.Locked}}{{end}}
					<td class=center><img src=dirPNG/edit width="12" alt="edit icon">
			{{end}}
		</table>
	{{else}}
		<samp>This event has no ranges.</samp>
	{{end}}
{{end}}