{{define "eventreport"}}
	<!-- TODO can $a be removed? -->
	{{range $a, $b := .Event.Ranges}}
		<table>
			<tr>
				<td>Grade
				<td>{{.Name}}
				<td>Shots
				<td>Scores
			{{range $.Event.Shooters}}
				<tr>
					<td>{{(grade .Grade).Abbr}}
					<td><a href=/shooter-report/{{$.Event.ID}}/{{.ID}}>{{.FirstName}} {{.Surname}} - {{.Club}}</a>
					{{$score := index .Scores $b.StrID}}
					<td>{{$score.Shots}}
					<td>{{$score.Total}}{{with $score.Centers}}<sup>{{.}}</sup>{{end}}
			{{end}}
		</table>
	{{end}}
{{end}}