{{define "events"}}
	{{form .eventNew}}
	{{template "networkAdapters" .Network}}
	<p>Total Events: {{len .Events}}
	{{with.Events}}
		<h2>Open Events</h2>
		<div class=events>
			{{range.}}
				{{if not .Closed}}
					<div>
						<div>
							{{.ISO.Weekday}}
							<b>{{ordinal .ISO.Day}}</b>
							{{.ISO.Month}} {{.ISO.Year}}
						</div>
						<p>
							{{if.ID}}
								<a href=/entries/{{.ID}}>{{.Name}}</a>
							{{else}}
								{{.Name}}
							{{end}} {{with.Time}}<span class=small>starts at</span> {{.}}{{end}}
						</p>
						{{range.Ranges}}{{.Name}}, {{else}}No ranges added.{{end}}
						<br>
						<a href=/entries/{{.ClubID}}>{{.Club.Name}}</a>
					</div>
				{{end}}
			{{end}}
		</div>
	{{end}}
	<script defer src=/j/main></script>
{{end}}