{{define "page"}}
	{{template "EventDetails" .EventDetails}}
	{{if .Closed}}
		<samp>Event is closed, no changes can be made.</samp>
	{{else}}
		{{template "AddRange" .AddRange}}
		{{if ge (len .Ranges) 2}}
			{{template "AddAggregateRange" .AddAgg}}
		{{end}}
	{{end}}
	{{with .Ranges}}
		<p>Total Ranges: {{len .}}
		<table>
			<thead>
				<th class=asc>ID
				<th>Range
				<th>Aggs
				<th>Locked
				{{if not $.Closed}}
					<td>Edit
				{{end}}
			</thead>
			{{range .}}
				<tr>
					<td>{{.ID}}
					<td>{{.Name}}
					<td>{{if .IsAgg}}{{.Aggs}}{{end}}
					<td>{{if not .IsAgg}}{{.Locked}}{{end}}
					{{if not $.Closed}}
						<td onclick='console.log("Not implemented yet")'>
					{{end}}
			{{end}}
		</table>
	{{else}}
		<samp>This event has no ranges.</samp>
	{{end}}
{{end}}