{{define "master"}}<!DOCTYPE html>
<link rel=stylesheet href=dirCSS/{{if.Theme}}dark{{else}}lite{{end}}>
<title>EventBucket{{with .Page.Title}} - {{.}}{{end}}</title>
<nav>
	<div>
		<h1><a href=/><img src=/v/logo alt=EventBucket width=190 height=22></a></h1>
		<span class=small>Making scoring easier for rifle clubs</span>
	</div>
	<ul>
		{{range .Menu}}
			<li>
				{{if eq $.Page.Title .Name}}
					{{.Name}}
				{{else}}
					<a href={{.Link}}>{{.Name}}</a>
						{{if eq $.Page.Menu .Link}}
							{{with .SubMenu}}
								{{range .}}
									{{if not .RangeMenu}}
										<li>
											{{if eq $.Page.Title .Name}}
												{{.Name}}
											{{else}}
												{{if not .Hidden}}
													<a href={{.Link}}{{$.Page.MenuID}}>{{.Name}}</a>
												{{end}}
											{{end}}
									{{end}}
									{{if and .RangeMenu $.Page.Data.Event}}
										<!--Can't merge these two if statements because $.Page.Data.Event doesn't exist for clubs & club pages-->
										{{if and $.Page.Data.Event.Ranges (gt (len $.Page.Data.Event.Shooters) 0)}}
											<li>
												<a href=#>{{.Name}}</a>
												<ul>
													{{$link := .Link}}
													{{range $.Page.Data.Event.Ranges}}
														{{if or (not .IsAgg) (eq $link "/scoreboard/")}}
															<li><a href={{$link}}{{$.Page.MenuID}}/{{.ID}}>{{.Name}}</a>
														{{end}}
													{{end}}
												</ul>
										{{end}}
									{{end}}
								{{end}}
							{{end}}
					{{end}}
				{{end}}
		{{end}}
	</ul>
</nav>
<section>
	{{with .Page}}
		{{with .Title}}<h4>{{.}}</h4>{{end}}
		{{with .Heading}}<h2>{{.}}</h2>{{end}}
		{{with .Error}}<samp>{{.}}</samp>{{end}}
		{{template "page" .Data}}
	{{end}}
</section>
{{range.Page.JS}}
	<script defer src=dirJS/{{.}}></script>
{{end}}
{{end}}