{{define "master"}}<!DOCTYPE html>
<link rel=stylesheet href=dirCSS/dark>
<title>EventBucket{{with .Page.Title}} - {{.}}{{end}}</title>
<header>
	<h1><a href=/>EventBucket</a></h1>
	<span class=small>Making scoring easier for rifle clubs</span>
	<nav>
		<ul>
			{{range .Menu}}
				{{if eq $.Page.Title .Name}}
					<li class=visited>{{.Name}}
				{{else}}
					<li><a href={{.Link}}>{{.Name}}</a>
						{{if eq $.Page.Menu .Link}}
							{{with .SubMenu}}
								<ul>
									{{range .}}
										{{if not .RangeMenu}}
											{{if eq $.Page.Title .Name}}
												<li class=visited>{{.Name}}
											{{else}}
												<li><a href={{.Link}}{{$.Page.MenuID}}>{{.Name}}</a>
											{{end}}
										{{end}}
										{{if and .RangeMenu $.Page.Data.Event.Ranges}}
											<li>
												{{if eq $.Page.Title .Name}}
													<div class=open>
												{{else}}
													<div>
												{{end}}
												{{.Name}}</div>
											<ul>
												{{$link := .Link}}
												{{range $.Page.Data.Event.Ranges}}
													{{if not .IsAgg}}
														<li><a href={{$link}}{{$.Page.MenuID}}/{{.ID}}>{{.Name}}</a>
													{{end}}
												{{end}}
											</ul>
										{{end}}
									{{end}}
								</ul>
							{{end}}
					{{end}}
				{{end}}
			{{end}}
		</ul>
		<p class=small>Copyright &copy; 2011-{{.CurrentYear}}
		<p class=small><a href=/about>vversionNumber</a> <a href=/licence class=right><img src=dirPNG/80x15 alt="Creative Commons Licence" height=15 width=80></a>
	</nav>
</header>
<section>
	{{with .Page}}
		{{with .Title}}<h4>{{.}}</h4>{{end}}
		{{with .Heading}}<h1>{{.}}</h1>{{end}}
		{{with .Error}}<samp>{{.}}</samp>{{end}}
		{{template "page" .Data}}
	{{end}}
</section>
<script defer src=dirJS/{{with.Page.JS}}{{.}}{{else}}main{{end}}></script>
{{end}}