{{define "master"}}<!DOCTYPE html>
<link rel=stylesheet href=dirCSS/scoreboard>
<title>EventBucket{{with.Page.Title}} - {{.}}{{end}}</title>
{{with (index .Menu 0).SubMenu}}
	<ul>
		<li><a href=/>Events</a>
		{{range.}}
			{{if not (and .RangeMenu .Hidden)}}
				<li><a href={{.Link}}{{$.Page.MenuID}}>{{.Name}}</a>
			{{end}}
			{{if and .RangeMenu $.Page.Data.Event}}
				<!--Can't merge these two if statements because $.Page.Data.Event doesn't exist for clubs & club pages-->
				{{if and $.Page.Data.Event.Ranges (gt (len $.Page.Data.Event.Shooters) 0)}}
					<li>
						<a href=#>{{.Name}}</a>
						<ul>
							{{$link := .Link}}
							{{range $.Page.Data.Event.Ranges}}
								{{if or (not .IsAgg) (eq $link "/scoreboard/")}}
									<li><a href={{$link}}{{$.Page.MenuID}}/{{.ID}}>{{.Name}}</a>
								{{end}}
							{{end}}
						</ul>
				{{end}}
			{{end}}
		{{end}}
	</ul>
{{end}}
{{template "page" .Page.Data}}
{{end}}