{{define "master"}}<!DOCTYPE html>
<link rel=stylesheet href=dirCSS/{{if.Theme}}dark{{else}}lite{{end}}>
<title>EventBucket{{with .Page.Title}} {{.}}{{end}}</title>
<header>
	<h1><a href=/><img src=/v/logo alt=EventBucket></a></h1>
	<span class=small>Making scoring easier for rifle clubs</span>
	<ul>
		{{range .Menu}}
			{{if eq $.Page.Title .Name}}
				<li class=visited>{{.Name}}
			{{else}}
				<li><a href={{.Link}}>{{.Name}}</a>
					{{if eq $.Page.Menu .Link}}
						{{with .SubMenu}}
							<ul>
								{{range .}}
									{{if not .RangeMenu}}
										{{if eq $.Page.Title .Name}}
											<li class=visited>{{.Name}}
										{{else}}
											{{if not .Hidden}}
												<li><a href={{.Link}}{{$.Page.MenuID}}>{{.Name}}</a>
											{{end}}
										{{end}}
									{{end}}
									{{if and .RangeMenu $.Page.Data.Event}}
										<!--Can't merge these two if statements because $.Page.Data.Event doesn't exist for clubs & club pages-->
										{{if and $.Page.Data.Event.Ranges (gt (len $.Page.Data.Event.Shooters) 0)}}
											<li>
												{{if eq $.Page.Title .Name}}
													<div class=open>
												{{else}}
													<div>
												{{end}}
												{{.Name}}</div>
											<ul>
												{{$link := .Link}}
												{{range $.Page.Data.Event.Ranges}}
													{{if or (not .IsAgg) (eq $link "/scoreboard/")}}
														<li><a href={{$link}}{{$.Page.MenuID}}/{{.ID}}>{{.Name}}</a>
													{{end}}
												{{end}}
											</ul>
										{{end}}
									{{end}}
								{{end}}
							</ul>
						{{end}}
				{{end}}
			{{end}}
		{{end}}
	</ul>
	<p class=small>Copyright &copy; 2011-2016
	<br><br>
	<a href=/about>vversionNumber</a> <a href=/license class=right><img src=dirWEBP/80x15 alt=License height=15 width=80></a>
</header>
<section>
	{{with .Page}}
		{{with .Title}}<h4>{{.}}</h4>{{end}}
		{{with .Heading}}<h1>{{.}}</h1>{{end}}
		{{with .Error}}<samp>{{.}}</samp>{{end}}
		{{template "page" .Data}}
	{{end}}
</section>
{{range.Page.JS}}
	<script defer src=dirJS/{{.}}></script>
{{end}}
{{end}}