{{define "page"}}
	<table class=printCards>
		{{$shooter := index .Event.Shooters .ShooterID}}
		{{range .Event.Ranges}}
			<tr>
				{{$barcode := print $.Event.ID "/" .ID "#" $shooter.ID}}
				<td rowspan=3 class=^centerPadding^>
					<img class=barcode src=dirBarcode/q{{urlquery $barcode}} alt={{$barcode}}><br>
					<strong><a href=/total-scores-all/{{$barcode}}>{{$barcode}}</a></strong>
				<td>Event ID: {{$.Event.ID}}<td>{{$.Event.Name}}
			<tr>
				<td>Shooter ID: {{$shooter.ID}}<td>{{$shooter.FirstName}} {{$shooter.Surname}}
			<tr>
				<td>Range ID: {{.ID}}<td>{{.Name}}
		{{end}}
	</table>
{{end}}