{{define "page"}}
	<table class=printCards>
		{{range .Ranges}}
			<tr>
				{{$barcode := print $.EventID "/" .ID "#" $.Shooter.ID}}
				<td rowspan=3 class=centerPadding>
					<img class=barcode src=/q/{{urlquery $barcode}} alt={{$barcode}}><br>
					<strong>{{$barcode}}</strong>
				<td>Event ID: {{$.EventID}}
				<td>{{$.EventName}}
			<tr>
				<td>Shooter ID: {{$.Shooter.ID}}
				<td>{{$.Shooter.FirstName}} {{$.Shooter.Surname}}
			<tr>
				<td>Range ID: {{.ID}}
				<td>{{.Name}}
		{{end}}
	</table>
{{end}}
