{{define "networkAdapters"}}
	{{if or .hostname .ipAddresses}}
		<p>To access EventBucket from multiple devices within your local network, the following links might be available,<br>
			{{with.hostname}}<strong>Hostname</strong> (Windows devices): <a href=//{{.}}>{{.}}</a>{{if.ipAddresses}}<br>{{end}}{{end}}
			{{with.ipAddresses}}<strong>IP Address</strong> (Apple &amp; Android devices): {{range.}}<a href=//{{.}}>{{.}}</a>, {{end}}{{end}}
	{{end}}
{{end}}

{{define "listEvents"}}
	{{with.}}
		<ul>
			{{range .}}
				{{if not .Closed}}<li><a href=/entries/{{.ID}}>{{.Name}}</a>{{end}}
			{{end}}
		</ul>
	{{else}}
		<samp>No Events found</samp>
		<p>Please view <a href=/archive>Archive</a> too see old events.
	{{end}}
{{end}}

{{define "incompleteShooters"}}
	{{if.ShowAll}}
		<a href=/{{.URL}}/{{.Event.ID}}/{{.Range.ID}}>View Incomplete Shooters</a>
	{{else}}
		<a href=/{{.URL}}-all/{{.Event.ID}}/{{.Range.ID}}>View All Shooters</a>
	{{end}}
{{end}}

{{define "barcodeSearch"}}
	<form id=sb>
		<label><abbr title="Find a shooter in the list by entering a shooter ID or scan a scorecard barcode.">?</abbr> Search for Shooter <input name=B pattern=(\d+\/\d+#)?\d+ type=search></label> <button>Search</button>
		<samp id=barcodeErr hidden>Barcode must match: <em>eventID/rangeID#shooterID</em> For example: <em>{{.EventID}}/{{.Range.ID}}#1</em></samp>
		<samp id=shooterErr hidden>A shooter with that ID doesn't exist in this event.</samp>
		<samp id=searchErr hidden>Please enter a shooter barcode or shooter ID.</samp>
	</form>
{{end}}

{{define "rangeNotDisplayed"}}
	{{if .Event.Closed}}
		<samp>Event is closed, no changes can be made. Go to <a href=/event-settings/{{.Event.ID}}>Event Settings</a> to reopen this event.</samp>
	{{else}}
		<samp>Range is locked, no changes can be made. Go to <a href=/event-settings/{{.Event.ID}}>Event Settings</a> to unlock this range.</samp>
	{{end}}
{{end}}