{{define "networkAdapters"}}
<p>To access EventBucket from multiple devices within your local network, the following links might be available,<br>
	<strong>Hostname</strong> (Windows devices): <a href=//{{.hostname}}>{{.hostname}}</a><br>
	<strong>IP Address</strong> (Apple &amp; Android devices):{{range .ipAddresses}} <a href=//{{.}}>{{.}}</a>{{end}}
{{end}}

{{define "listEvents"}}
	{{with .}}
		<ul>
			{{range .}}
				{{if not .Closed}}<li><a href=/entries/{{.ID}}>{{.Name}}</a>{{end}}
			{{end}}
		</ul>
	{{else}}
		<samp>No Events found</samp>
		<p>Please view <a href=/archive>Archive</a> too see old events.
	{{end}}
{{end}}

{{define "tableShooters"}}
	{{with .}}
		<table>
			<thead>
				<th class=sorted>ID
				<th>Name
				<th>Club
				<th>Grade
				<th>Age Group
			</thead>
			{{range .}}
				<tr>
					<td>{{.ID}}
					<td>{{.FirstName}} {{.Surname}}
					<td>{{.Club}}
					<td>{{grade .Grade}}
					<td>{{ageGroup .AgeGroup}}
				</tr>
			{{end}}
		</table>
	{{else}}
		<samp>No shooters listed.</samp>
	{{end}}
{{end}}