{{define "page"}}
	{{$medalsLimit := 3}}
	<a class=floatRight href=//eventbucket.com.au target=_blank><img src=/v/logo alt=EventBucket height=16 width=140>.com.au</a>
	<h1>{{.Event.Name}}</h1>
	{{$colspan := 4}}
	<table>
		{{range.Event.Shooters}}
			{{if .GradeSeparator}}
				<tr class="^classHeadingRow^ ^separator^">
					<td colspan={{$colspan}}>{{(grade .Grade).Name}}
					{{range $.Ranges}}
						<td>{{.Name}}
					{{end}}
			{{end}}
			<tr>
				<td>{{(index .Scores $.SortByRange).Ordinal}}
				<td>{{.FirstName}} {{.Surname}}
				<td>{{.Club}}
				<td>{{ageGroup .AgeGroup}}
				{{$shooter := .}}
				{{range $.Ranges}}
					{{$score := index $shooter.Scores .StrID}}
					{{if and $score.Total (le $score.Position $medalsLimit)}}
						<td class=p{{$score.Position}}>
					{{else}}
						<td>
					{{end}}
						{{with $score}}
							{{if.Total}}
								{{.Total}}
								{{with.Centers}}<sup>{{.}}{{end}}
							{{end}}
						{{end}}
				{{end}}
		{{end}}
	</table>
{{end}}