{{define "page"}}
	{{template "incompleteShooters" .}}
	{{template "barcodeSearch"}}
	{{with .Event.Shooters}}
		<table data-eventID={{$.Event.ID}} data-rangeID={{$.Range.ID}}>
			<tr id=h>
				<th>ID
				<th>Club
				<th>Grade
				<th>Shooter
				<td>S1
				<td>S2
				<td>1
				<td>2
				<td>3
				<td>4
				<th>Total
			{{range .}}
				{{if eq false .Hidden}}
					{{$score := index .Scores $.Range.StrID}}
					{{if or $.ShowAll (and (not $score.Total) (not $.ShowAll))}}
						<tr id={{.ID}} data-class={{(grade .Grade).ClassID}}>
							<th>{{.ID}}
							<th>{{.Club}}
							<th>{{(grade .Grade).Abbr}}
							<th>{{.FirstName}} {{.Surname}}
							<td>
							<td>
							<td>
							<td>
							<td>
							<td>
							<th>
					{{end}}
				{{end}}
			{{end}}
			<tr id=x>
				<th id=bu colspan=99>{{/*TODO change colspan to table width*/}}</th>
			</tr>
		</table>
	{{else}}
		<samp>No shooters entered in this event.</samp>
	{{end}}
{{end}}