{{define "page"}}
<h1>{{.Event.Name}}</h1>
<table>
	<tr>
		<th>Pos
		<th>Shooter
		<th>Club
		<th>Age Group
		{{range .Event.Ranges}}
			{{if eq .ID $.SortByRange}}
				<th class=sortBy>{{.Name}}
			{{else}}
				<th>{{.Name}}
			{{end}}
		{{end}}
	{{range .Event.Shooters}}
		<tr>
			<td>
			<td class=tc>{{.FirstName}} {{.Surname}}
			<td>{{.Club}}
			<td>{{ageGroup .AgeGroup}}
			{{$shooter := .}}
			{{range $.Event.Ranges}}
				<td>
					{{with index $shooter.Scores .Id}}
						{{if.Total}}
							{{.Total}}
							{{if.Centers}}<sup>{{.Centers}}{{end}}
						{{end}}
					{{end}}
			{{end}}
	{{end}}
	<tr>
		<td colspan=99 class=legend>
			{{with .Legend}}
				Legend: {{range .}}
					<label class={{.Class}}>{{.Name}}</label>
				{{end}}
			{{end}}
			<span class=floatRight>Powered by <a href=//eventbucket.com.au>EventBucket.com.au</a></span>
</table>
{{end}}