{{define "page"}}
	{{range $.Event.Shooters}}
		<table>
			<tr>
				<th><a href=/shooter-report/{{$.Event.ID}}/{{.ID}}>{{(grade .Grade).Abbr}} {{.FirstName}} {{.Surname}} - {{.Club}}</a>
				<th>Shots
				<th>Scores
			{{range $id, $score := .Scores}}
				<tr>
					<td>{{(findRange $id $.Event.Ranges).Name}}
					<td>{{.Shots}}
					<td>{{.Total}}{{with .Centers}}<sup>{{.}}</sup>{{end}}
			{{else}}
				<tr>
					<td colspan=3><samp>No scores recorded yet.</samp>
			{{end}}
		</table>
	{{end}}
{{end}}