{{define "page"}}
	{{template "NewShooter" .NewShooter}}
	{{if.QtyShooters}}
		{{template "ShooterSearch" .ShooterSearch}}
	{{end}}
	<p>Total Shooters: {{.QtyShooters}}{{with.ListShooters}}, Search returned {{len .}} shooters.{{end}}
	{{template "tableShooters" .ListShooters}}

	<template>
		<td></td>
		<td>
			<form method=post action=/12 id=editShooter>
				<input name=f required placeholder="First name" accesskey=d maxlength=64 autocomplete=off>
				<input name=s required placeholder=Surname maxlength=64 autocomplete=off>
			</form>
		</td>
		<td>
			<input type=search name=C required maxlength=64 autocomplete=off form=editShooter list=C>
		</td>
		<td>
			<select name=g form=editShooter>
				{{template "optionList" .Grades}}
			</select>
		</td>
		<td>
			<select name=r form=editShooter>
				<!--TODO load dynamic age groups from import file-->
				{{template "optionList" .AgeGroups}}
			</select>
		</td>
		<td>
			<button name=I value=a form=editShooter>Save</button>
		</td>
	</template>
{{end}}