{{define "shootersreport"}}
	{{range.Shooters}}
		<table>
			<thead>
				<tr>
					<td>
						{{if and $.Event.ID .Scores}}<a href=/shooter-report/{{$.Event.ID}}/{{.ID}}>{{end}}
							{{(grade .Grade).Abbr}} {{.FirstName}} {{.Surname}} - {{.Club}}
						{{if and $.Event.ID .Scores}}</a>{{end}}
					<td>Shots
					<td>Total
			<tbody>
				{{with.Scores}}
					{{$scores := .}}
					{{range $.Event.Ranges}}
						{{$score := index $scores .StrID}}
						{{if $score.Total}}
							<tr>
								<td>{{.Name}}
								<td>{{$score.Shots}}
								<td>{{$score.Total}}{{with $score.Centers}}<sup>{{.}}</sup>{{end}}
						{{end}}
					{{end}}
				{{else}}
					<tr><td colspan=3><small>No scores recorded yet.</small>
				{{end}}
		</table>
	{{end}}
{{end}}