{{define "page"}}
	{{template "NewShooter" .NewShooter}}
	{{if.QtyShooters}}
		{{template "ShooterSearch" .ShooterSearch}}
	{{end}}
	<p>Total Shooters: {{.QtyShooters}}{{with.ListShooters}}, Search returned {{len .}} shooter{{if ne (len .) 1}}s{{end}}.{{end}}
	{{with.ListShooters}}
		<table id=editRow>
			<thead>
				<tr>
					<th class=asc>Id
					<th>Name
					<th>Club
					<th>Grade
					<th>Age Group
					<td>Ladies
					<td>Edit
			</thead>
			{{range .}}
				<tr>
					<td>{{.ID}}
					<td>{{.FirstName}} <span>{{.Surname}}</span>
					<td>{{.Club}}
					<td>{{range .Grade}}{{(grade .).Name}}, {{end}}
					<td>{{ageGroup .AgeGroup}}
					{{if.Ladies}}<td class=tick>{{else}}<td>{{end}}
					<td>
				</tr>
			{{end}}
		</table>
	{{else}}
		<samp>No shooters listed.</samp>
	{{end}}
	<template>
		<td></td>
		<td>
			<form method=post action=/12 id=editShooter>
				<input name=f required placeholder="First name" accesskey=d maxlength=64>
				<input name=s required placeholder=Surname maxlength=64>
			</form>
		</td>
		<td>
			<input type=search name=C required maxlength=64 form=editShooter list=C>
		</td>
		<td>
			<select name=g multiple required size={{len .Grades}} form=editShooter>
				{{template "optionList" .Grades}}
			</select>
		</td>
		<td>
			<select name=r form=editShooter>
				<!--TODO load dynamic age groups from import file-->
				{{template "optionList" .AgeGroups}}
			</select>
		</td>
		<td>
			<input type=checkbox name=x form=editShooter>
		</td>
		<td>
			<button name=I form=editShooter>Save</button>
		</td>
	</template>
	{{template "ImportShooters" .ImportShooters}}
	<script src=/j/main></script>
{{end}}