{{define "page"}}
	{{template "NewShooter" .NewShooter}}
	{{if.QtyShooters}}
		{{template "ShooterSearch" .ShooterSearch}}
	{{end}}
	<p>Total Shooters: {{.QtyShooters}}{{with.ListShooters}}, Search returned {{len .}} shooters.{{end}}
	{{template "tableShooters" .ListShooters}}

	<template>
		<td>
		<td>
			<form method=post action=/12 id=editShooter>
				<input name=f required placeholder="First name" accesskey=d maxlength=64 autocomplete=off>
				<input name=s required placeholder=Surname maxlength=64 autocomplete=off>
			</form>
		<td>
			<input name=C required maxlength=64 autocomplete=off form=editShooter list=C>
		<td>
			<select name=g required form=editShooter>
				{{template "optionList" .Grades}}
			</select>
		<td>
			<select name=r form=editShooter>
				<!--TODO load dynamic age groups-->
				<option>
				<option value=1>Junior U21
				<option value=2>Junior U25
				<option value=3>Veteran
				<option value=4>Super Veteran
			</select>
		<td>
			<button name=I value=a form=editShooter>Save</button>
			<!--TODO on save return page to original state with search queries-->
	</template>
{{end}}