{{define "page"}}
	{{template "incompleteShooters" .}}
	{{template "barcodeSearch"}}
	{{with .Event.Shooters}}
		<table>
			<tr>
				<th>ID
				<th>Club
				<th>Grade
				<th>Shooter
				<th>Total
				<th>Centers
				<th>
			{{range .}}
				{{if eq false .Hidden}}
					{{$score := index .Scores $.Range.StrID}}
					{{if or $.ShowAll (and (not $score.Total) (not $.ShowAll))}}
						<tr{{/* id=.ID}} data-class=fclass*/}}>
							<td>{{.ID}}
							<td>{{.Club}}
							<td>{{grade .Grade}}
							<td{{/* class=name*/}}>{{.FirstName}} {{.Surname}}
							<td>
								<input name=t max=60 min=0 step=1 value={{$score.Total}} type=number autocomplete=off id={{.ID}} form=f{{.ID}}>
							<td>
								<input name=c max=10 min=0 step=1 value={{$score.Centers}} type=number autocomplete=off form=f{{.ID}}>
							<td>
								<form method=post action=/14 id=f{{.ID}}>
									<button name=S value={{.ID}}>Save</button>
									<input name=E type=hidden value={{$.Event.ID}}>
									<input name=R type=hidden value={{$.Range.ID}}>
								</form>
								{{/*template "TotalScores"*/}}
					{{end}}
				{{end}}
			{{end}}
		</table>
	{{else}}
		<samp>No shooters entered in this event.</samp>
	{{end}}
{{end}}