<!-- body{ background:#07f;font:13px Arial, sans-serif;color:#bbf;text-align: center;} -->
<!-- div{color:#000;text-align:right;} -->
setTimeout(runThis, 2000);
function runThis(){document.getElementById('body').style.background = '#080';document.getElementById('body').style.color = '#0b0';}