{{$id := .Id}}
{{$allEventGrades := .AllEventGrades}}
<h1>{{.Title}}: {{.EventName}}</h1>
{{HTM .menu}}

{{HTM .ChangeName}}

{{HTM .AddDate}}

{{HTM .AddRange}}

{{if .AddAgg}}
	{{HTM .AddAgg}}
{{end}}

{{Fieldset "Ranges"}}
	{{if.ListRanges}}
		<table>
			<tr>
				<th>Range Id</th>
				<th>Name</th>
				{{/*if .ListShooters}}
					<th>Start Shooting</th><th>Total Scores</th>
				{{end*/}}
				<th>Aggregate Ranges</th>
				<th>Hide</th>
				<th>Lock</th>
				<th></th>
			</tr>
			{{range $key, $value := .ListRanges}}
				{{with $value}}
					<tr>
						<td>{{$key}}</td>
						<td>{{.Name}}</td>
						<td>{{with .Aggregate}}{{HTM .}}{{end}}</td>
						<td><input type=checkbox name=hide form=range{{$key}}></td>
						<td>
							{{if not .Aggregate}}
								<input type=checkbox name=disable form=range{{$key}}>
							{{end}}
						</td>
						<td><form id=range{{$key}} method=post action="/updateRange/{{$id}}/{{$key}}"><button>Save</button></form></td>
					</tr>
				{{end}}
			{{end}}
		</table>
	{{end}}
{{EndFieldset}}

{{HTM .SortScoreboard}}

{{HTM .EventGrades}}

{{Fieldset "Ranges Shots &amp; Sighters"}}
<table>
	<tr>
		<th>Range Name</th>
		<th>Class</td>
		<th>Sighters</td>
		<th>Shots</th>
	</tr>

	{{range $key, $value := .ListRanges}}
	<tr>
		<td rowspan=3>{{$value.Name}}</td>
		{{range $class_id, $class := $allEventGrades}}
		<td>{{$class.Display}} {{/*$grade*/}}</td>
		<td><input type=number value={{$class.SightersQty}}></td>
		<td><input type=number value={{$class.ShotsQty}}></td>
	</tr>
	{{end}}
	<tr><td colspan=4>&nbsp;</td></tr>
	{{end}}
</table>
<button>Save</button>
{{EndFieldset}}

{{/*Fieldset "Ranges Shots &amp; Sighters"}}
<table>
	<tr>
		<th>Range Name</th>
		<th>Class</td>
		<th>Sighters</td>
		<th>Shots</th>
	</tr>

	{{range $key, $value := .ListRanges}}
		<tr>
			<td rowspan=9>{{$value.Name}}</td>
			{{range $class_id, $class := $allEventGrades}}
				{{range $grade_id, $grade := $class.Grades}}
						<td>{{$class.Display}} {{$grade}}</td>
						<td><input type=number value={{$class.SightersQty}}></td>
						<td><input type=number value={{$class.ShotsQty}}></td>
					</tr>
				{{end}}
			{{end}}
			<tr><td colspan=4>&nbsp;</td></tr>
	{{end}}
</table>
{{EndFieldset*/}}


<!--
<tr>
		<td>F Class</td>
		<td><input type=number value=3></td>
		<td><input type=number value=15></td>
	</tr>
	<tr>
		<td>Match</td>
		<td><input type=number value=2></td>
		<td><input type=number value=20></td>
	</tr>
	<tr>
		<td rowspan=3>800 yards</td>
		<td>Target</td>
		<td><input type=number value=2></td>
		<td><input type=number value=8></td>
	</tr>
	<tr>
		<td>F Class</td>
		<td><input type=number value=1></td>
		<td><input type=number value=7></td>
	</tr>
	<tr>
		<td>Match</td>
		<td><input type=number value=0></td>
		<td><input type=number value=14></td>
	</tr>
	<tr>
		<td rowspan=3>900 yards</td>
		<td>Target</td>
		<td><input type=number value=1></td>
		<td><input type=number value=11></td>
	</tr>
	<tr>
		<td>F Class</td>
		<td><input type=number value=2></td>
		<td><input type=number value=20></td>
	</tr>
	<tr>
		<td>Match</td>
		<td><input type=number value=3></td>
		<td><input type=number value=15></td>
	</tr>
	<tr>
		<td rowspan=3>1000 yards</td>
		<td>Target</td>
		<td><input type=number value=2></td>
		<td><input type=number value=5></td>
	</tr>
	<tr>
		<td>F Class</td>
		<td><input type=number value=4></td>
		<td><input type=number value=12></td>
	</tr>
	<tr>
		<td>Match</td>
		<td><input type=number value=2></td>
		<td><input type=number value=25></td>
	</tr>

-->